.hdr-height{
  height: 60px !important;
}

.chkboxWrp .ui-checkbox {
  width: auto !important;
}

.ui-checkbox .ui-checkbox-on.ui-btn-icon-left .ui-icon {
    background-position: -252px -1px !important;
}

.dnone{
    display: none;
}

#report_parameters {
  margin: 0;
  padding: 0;
}

.ui-select{
  padding: 0.3em 0 0.2em
}

#billReport #billReportSearch > div:nth-last-child(1) {
    margin-top: 10px !important;
}

#dailynorecord{
    border: 0 none !important;
    border-radius: 4px !important;
    display: block !important;
    margin: 0 !important;
    width: 100% !important;
}

.fancybox-image, .fancybox-iframe {
    border-radius: 5px !important;
}

.fancyboxSaveBox .fancybox-close{
    top: 55px !important;
    right: -41px !important;
}

.ui-bg-wht{
    background: #fff !important;
}

#billReport #billReportSearch > div.form_to_date_bx{
    width: 170px !important;
}

#page{
    padding: 0 10px !important;
    position: inherit;
    width: auto;
}

.save-btn{
    right: -41px !important;
    width: 45px !important;
    height: 45px !important;
}

.ui-bg-wht{
    background: #fff !important;
}

.icontext {
    margin: 0 0.1em 0 0;
}
.icontext a {
    color: #000;
    font-size: 0.625rem;
    margin: 0;
    padding: 0 5px;
}
.icontext a:hover, focus {
    color: #a85d35;
}
.icons a {
    margin: 0;
    padding: 0 5px;
}
.btn-wrp {
    border-radius: 4px;
    margin-bottom: 0.3em !important;
    margin-top: 0.3em !important;
}

.ui-mobile, .ui-mobile body {
    height: 99.5%;
}

.dataTables_paginate span a{
    color: #000 !important;
    font-weight: 700 !important;
}

.paginationWrap{
    position: relative;
    z-index: 1;
}

.dataTables_paginate span a.current{
    color: #fff !important;
}

.dataTables_paginate .current.previous.ui-link {
    background: #fff url("../img/ico-sidepanel.png") no-repeat -258px -44px;
    border: 1px solid #f5851f;
    height: 30px;
}

.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

#rightpanel h1, h2 {
    margin: 30px 0 10px !important;
}

#rightpanel .listBtn {
    color: #000 !important;
    font-size: 0.75em !important;
    letter-spacing: inherit !important;
    cursor: pointer;
    padding: 0 !important;
}

#popUpformWrap{
  display: inline-block;
    text-align: left;
    width: 100%;
}

#popUpformWrap .row,
#popUpformWrap .rowhalf{
    width:100%;
    float: left;
    margin: 0 0 13px;
}

#popUpformWrap .rowhalf {
    margin: 0 32px 13px;
    width: 38%;
}

.col-sm-6 {
    float: left;
    margin: 0 32px;
    width: 38%;
}

.rowhalf .col-sm-6 {
    margin: 0;
    width: 100%;
}

label.ui-select{
    margin: 0;
    padding: 0;
}

#popUpformWrap select{
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    min-height: 100%;
    max-height: 100%;
    cursor: pointer;
}

#popUpformWrap .row > div select{
    height:36px;
    border:1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius:4px;
    box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
}

.ui-disabled {
    background: #e3e3e3 none repeat scroll 0 0;
    opacity: 0.9;
}

#popUpformWrap .ui-submit{
    clear: both;
    display: none;
}

#popUpformWrap .form-group > span{
    display: none;
}

#popUpformWrap .labelsdata span{
  display: block;
  padding: 8px 0 0;
}

.labelsdata {
    margin: 0 0 30px !important;
}

.dashboardApproveIcon{
    background: url("../img/approve.png") no-repeat scroll 0px 0px rgba(0, 0, 0, 0);
    display: block !important;
    height: 31px;
    margin: 0 auto;
    width: 31px;
}
#facility > option {
    padding: 2px 3px;
    font-size: 14px;
}

.form-control {
    height: auto !important;
    padding: 0 !important;
}

#fancybox-loading div{
    background: #fff url("../img/ajax-loader.gif") no-repeat center center !important;
    padding: 1em !important;
}

.popupTableWrp .ui-submit{
    display: none;
}

.popautocomplete .ui-autocomplete{
    left: 20px !important;
}

#logoContainer{
    margin: 10px 0 10px !important;
}

#logoContainer img{
    width: auto !important;
    height: auto !important;
}


#rightpanel {
    background: transparent none repeat scroll 0 0;
    border: 0 none !important;
    height: auto !important;
    padding: 0 !important;
}
.ui-loader .ui-icon {
    background: rgba(0, 0, 0, 0) url("../img/ajax-loader.gif") no-repeat scroll center center !important;
    border-radius: 36px;
    display: block;
    height: 58px;
    margin: 0;
    padding: 12px;
    width: 58px;
}

.ui-loader-default{
    height: auto;
    width: auto;
    opacity: 0.8;
    background: none transparent;
}

p.error, .errorTxt, #mobPhoneErrorMsg{
    font-size: 0.9em;
}

.txtarea{
    width: 87%;
}

.txtarea textarea{
    width: 100% !important;
    height: 38px;
    padding: 8px 12px;
}

span.error {
  display: inline-block;
    clear: both;
    color: #f00;
    font-size: 0.85em;
    margin-bottom: 2.5%;
}

.formEle.error{
  color: #333;
  font-size: 13.5px;
  margin-bottom: 0;
}

.logout-wrp {
    padding: 10px 0 0 0;
}

.col-xs-6 {
    width: 8.9%;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

#username {
    font: 1em "Helvetica Neue",Helvetica !important;
    margin: 11px 0 0;
}

.btn-warning {
    background-image: linear-gradient(#fc6506, #ce5100 60%, #ce5100) !important;
    border: 1px solid #e95604 !important;
    box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
.btn-warning:hover {
    background-image: linear-gradient(#fc7724, #983c00 60%, #983c00) !important;
    border: 1px solid #ffaa74 !important;
}
a:hover {
    outline: medium none !important;
    text-decoration: none;
}
a:active, a:hover {
    outline: 0 none;
}
.btn {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  font-size: 14px;
  margin-bottom: 3px !important;
}

#billReport #billReportSearch > div.twoWaySearch {
  margin: 10px 0 0 !important;
  text-align: center;
  width: 100px !important;
}

.checkBDiv.mt-8 {
  margin: 22px 0 0 !important;
  width: 190px !important;
}

.sml-checkBDiv.mt-8{
  margin: 28px 0 0 !important;
  width: 170px !important;
  min-height: inherit !important;
}

.btn-warning {
  border-radius: 4px;
  height: 18px;
  padding: 9px 12px;
  margin: 0 !important;
}


/* specifically include & exclude from printing */
@media print {
    #report_parameters {
        visibility: hidden;
        display: none;
    }
    #report_parameters_daterange {
        visibility: visible;
        display: inline;
    }
    #report_results table {
        margin-top: 0px;
    }
}

/* specifically exclude some from the screen */
@media screen {
    #report_parameters_daterange {
        visibility: hidden;
        display: none;
    }
}

.alertMsg{
   background: #ffe8e8 !important;
   padding: 15px 20px !important;
}

.txtCenter{
  text-align: center !important;
}

.txtRight{
  text-align: right !important;
}

th.txtRight{
  padding-right: 20px !important;
}
.bgsuccess{
  background: #c3ffc3 !important;
}

.checkBDiv .ui-checkbox .ui-btn-icon-left .ui-icon {
  left: 155px !important;
}

.checkBDiv .ui-checkbox input {
  left: 170px;
}

.sml-checkBDiv .ui-checkbox .ui-btn-icon-left .ui-icon {
  left: 128px !important;
  margin: -12px 0 0 0;
}

.sml-checkBDiv .ui-checkbox input {
  left: 142px;
}

.sml-checkBDiv .ui-checkbox .ui-btn-icon-left .ui-btn-inner{
  padding-left: 0;
}

#billReport #billReportSearch > div.twoWaySearch.exportBtn{
  width: 70px !important;
}

#billReport #billReportSearch div.mt-8 {
  min-height: 73px;
}

#billReport #billReportSearch > div.dBoxMgnR {
  margin: 8px 0 0 !important;
  padding: 0 0.5em;
  width: 23.45% !important;
}

.cntrD{
  padding: 0 20px 0 0 !important;
}

#billReport #billReportSearch > div.twoWaySearch.search {
  padding: 0 28px 0 0 !important;
  width: 80px !important;
}

#placeholder{
  width: 50%;
  resize: both;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 170px;
}

#placeholder img {
    margin: auto;
    height: 160px;
}

#placeholder img.autohgt{
  height: auto;
}

.ui-autocomplete.ui-front {
  cursor: pointer;
    border: 0 none;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
    font: 13px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 1px 0 0 -15px;
    padding: 5px;
}
.ui-autocomplete.facilityAutosuggestList {
   border: 0 none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
    padding: 5px 5px;
    width: 210px !important;
}

.facilityAutosuggestList.ui-menu .ui-menu-item {
  padding: 0px;
  margin: 0;
}

.facilityAutosuggestList.ui-menu .ui-menu-item  a{
  display: block;

  margin: 0px 0;
  width: 95%;
}

.ui-menu .ui-menu-item {
  display: inline-block;
  padding: 0;
  width: 100%;
}


.ui-menu.ui-widget li > a {
    display: block;
    padding: 5px;
    text-align: left;
    width: 96%;
}

.ui-menu .ui-menu-item a span:nth-child(1) {
  border: 1px solid #e8e8e8;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  padding: 1px;
  margin: 0 10px 0 0;
}
.ui-menu .ui-menu-item a span {
  float: left;
}

.ui-menu .ui-menu-item a.ui-state-focus {
  padding: 5px;
  border: 0 none;
  border-radius: 5px;
  background: #3399ff;
  color: #fff;
  text-shadow: 0 0 0;
}

.ui-menu .ui-menu-item a span:nth-child(2) {
  width: 70%;
}

/*#addEditTransferForm .row{
  margin: 3px 0 0;
}*/

.readonly{
  background: #f1f1f1 !important;
}

#billReport #billReportSearch > div.infull{
  width: 23.45% !important;
  margin-top: 8px !important;
}

#advanceOptions.active .icon-container{
  background: #ff7f27;
  color: #fff;
}

.wdth19{
  width: 19% !important;
}

#billReport #billReportSearch.filter .btn-wrap {
  float: right;
  margin-top: 0 !important;
  padding: 0 !important;
  width: 22% !important;
}

.btn-wrap > a {
  margin: 0 20px 0 0;
}

.filter .ui-block:nth-child(n) {
  float: left;
  width: 185px;
}

.filter .ui-chkbx{
  width: auto !important;
  margin-top: 14px !important;
}
.filter #advanceOptionsToggle .ui-chkbx7{
  margin-top: 7px !important;
}

.filter #advanceOptionsToggle > div:nth-child(1) {
  padding: 0 0.5em;
}

.filter #advanceOptionsToggle > div {
  margin-top: 0;
  padding-right: 0.5em;
}

#advanceOptionsToggle{
  width: 100% !important;
  display: inline-block;
}

#advanceOptionsToggle.dnone{
  display: none;
}

.new-btnWrap .icon {
    color: #dd5600;
    font-size: 34px;
    padding: 0;
    top: 7px !important;
}

.new-btnWrap:hover .icon {
  background: #ff7f27 none repeat scroll 0 0;
  color: #fff;
}

.new-btnWrap.active .icon{
  color: #fff;
}

.left-nav1{
  left: 85px !important;
}

.lastnav a {
    border-bottom: 0 none !important;
}

.sidemenu li a {
  margin: auto;
  padding: 5px 0 !important;
  text-align: center;
  width: 83px;
}


#effect .new-btnWrap {
  height: 46px !important;
  margin: auto;
  width: 52px !important;
}

.dnonein{
  display: none !important;
}

.custom-combobox {
  margin: 0.3em 0 0.2em !important;
  width: 100% !important;
  display: inline-block !important;
}

.custom-combobox-input {
  font-size: 14px !important;
  padding: 9px 10px !important;
  background: #fff;
  border-radius: 10px !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}

.custom-combobox > span {
  background: #dd5600 none repeat scroll 0 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  height: 36px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
  position: absolute;
  right: 1px;
  text-align: center;
  width: 35px;
  z-index: 2;
  font-size: 13px;
  cursor: pointer;
  top: 0 !important;
}

.custom-combobox > span::before {
  left: 10px;
  position: absolute;
  top: 13px;
}

.ui-menu.ui-widget li > a {
  display: flex;
  padding: 5px;
  text-align: left;
}

.ui-menu.ui-widget .ui-menu-item a.ui-state-focus {
  padding: 5px;
  display: flex;
  margin:0;
}

.left-nav{
  z-index: 2;
}

.managerBtn.dnone,
.reportsBtn.dnone{
  display: none ;
}

.floatingheader{
  /*height: 73px;*/
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.floatingheader #headtab {
  border-bottom: 4px solid #f6841f !important;
  height: 64px;
  padding-top: 5px;
  z-index: 2;
}

.mplc-load {
  display: flex;
  height: 100%;
  width: 100%;
}

.mplc-load img{
  margin: auto;
}

.mplc-load.dnone{
  display: none;
}

#marketplace_frame{
  height: 100%;
  width: 100%;
}

/* required styles to handle the transitions */
.transition {
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  -o-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  overflow-y: hidden;
}

#collapse-bar{
  float: left;
  margin: -24px 0 0 20px;
  cursor: pointer;
  background: url("../img/col-icn.png") no-repeat top left;
  width: 34px;
  height: 24px;
/*  position: absolute;
  top: 80px;
  z-index: 9;*/
}
.collapse-bar{
  -webkit-transition: margin-top 0.5s ease-in-out;
  -moz-transition: margin-top 0.5s ease-in-out;
  -o-transition: margin-top 0.5s ease-in-out;
  transition: margin-top 0.5s ease-in-out;
}

.dummyIcon {
    border-radius: 8px;
}
.reports {
  background: rgba(0, 0, 0, 0) url("../img/inventoryicon_sprt_sml.png") no-repeat scroll -805px 0 !important;
}
.dummyIcon {
  display: table-cell;
  font-size: 2em;
  padding: 0 0 0.13em 0.16em;
  vertical-align: middle;
}

/********** title buttons **********/
.manager, .reports, .marketplace, .rqs, .ship{
  background:url("../img/inventoryicon_sprt_lftnav.png") no-repeat top left !important;
}

.manager:hover, .reports:hover, .marketplace:hover, .rqs:hover, .ship:hover{
  background-color:#ff7f27;
}

.manager{background-position: -173px -177px !important;}
.manager:hover{background-position: -173px -252px !important;}

.reports{background-position: -247px -176px !important;}
.reports:hover{background-position: -247px -251px !important;}

.marketplace{background-position: -248px -28px !important;}
.marketplace:hover{background-position: -248px -103px !important;}

.rqs{background-position: -322px -176px !important;}
.rqs:hover{background-position: -322px -250px !important;}

.ship{background-position:  -174px -28px !important;}
.ship:hover{background-position: -174px -102px !important;}

/********** leftnav **********/
.left-nav {
    left: 10px;
    top: 95px !important;
}

.sidemenu.invlftnav li span.new-btnWrap.active{
  background: #ff7f27;
}

.lftico{display: block;height: 45px;left: 50%; margin-left: -19px; position: relative;width: 45px; background:url("../img/inventoryicon_sprt_lftnav.png") no-repeat top left;}

.sidemenu li a:hover .new-btnWrap{background: #ff7f27;}

.stock{background-position: -107px -30px !important;}
.sidemenu li a:hover .stock, .stock:hover, .new-btnWrap.active .stock{background-position: -107px -104px !important;}

.shipment{background-position: -182px -28px !important;}
.sidemenu li a:hover .shipment, .shipment:hover, .new-btnWrap.active .shipment{background-position: -182px -102px !important;}

.reqs{background-position: -329px -178px !important;}
.sidemenu li a:hover .reqs, .reqs:hover, .new-btnWrap.active .reqs{background-position: -329px -252px !important;}

.transin{background-position: -32px -176px !important;}
.sidemenu li a:hover .transin, .transin:hover, .new-btnWrap.active .transin{background-position: -32px -250px !important;}

.transout{background-position: -32px -30px !important;}
.sidemenu li a:hover .transout, .transout:hover, .new-btnWrap.active .transout{background-position: -32px -105px !important;}

.issue_return{background-position: -106px -178px !important;}
.sidemenu li a:hover .issue_return, .issue_return:hover, .new-btnWrap.active .issue_return{background-position: -106px -253px !important;}

.adjustment{background-position: -329px -30px !important;}
.sidemenu li a:hover .adjustment, .adjustment:hover, .new-btnWrap.active .adjustment{background-position: -329px -104px !important;}

.sledger{background-position: -107px -30px !important;}
.sidemenu li a:hover .sledger, .sledger:hover, .new-btnWrap.active .sledger{background-position: -107px -104px !important;}

.consumption{background-position: -107px -30px !important;}
.sidemenu li a:hover .consumption, .consumption:hover, .new-btnWrap.active .consumption{background-position: -107px -104px !important;}

.batch_expiry{background-position: -417px -29px !important;}
.sidemenu li a:hover .batch_expiry, .batch_expiry:hover, .new-btnWrap.active .batch_expiry{background-position: -417px -104px !important;}

.adjust_report{background-position: -107px -30px !important;}
.sidemenu li a:hover .adjust_report, .adjust_report:hover, .new-btnWrap.active .adjust_report{background-position: -107px -104px !important;}

/*.sbalance{background-position: -107px -30px !important;}
.sidemenu li a:hover .sbalance, .sbalance:hover, .new-btnWrap.active .sbalance{background-position: -107px -104px !important;}*/

#effect {
    height: 87.8%;
    left: 10px;
    top: 60px;
}

#myNavmenu {
    height: 100%;
}

#reports > li:last-child a {
   /* border: 0 none;*/
}
.reducexwdth .custom-combobox-input{
  width: 87%;
}

.ui-datepicker-trigger {
  background: #dd5600;
  border-radius: 0 8px 8px 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  height: 17px;
  padding: 10px 10px 9px;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 18px;
}

#billReport #billReportSearch.filter .btn-wrap.wdth20{
  width: 25% !important;
}
.wdth20{
  width: 20% !important;
}

.wdth25{
  width: auto !important;
}

.wdth15 {
    width: auto !important;
}

.deletePopUp {
  z-index: 99999 !important;
  margin: 0 !important;
}

.interButt.ui-btn-up-c:hover,
.interButt.ui-btn-hover-c:hover,
.interButt.ui-btn-up-a:hover,
.interButt.ui-btn-hover-a:hover{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
}

.txtareanote{
  width: 70%;
  margin: 0 0 0 15px;
  text-align: left;
}

.checkbxNotified{
  margin: 23px 0 0;
  width: 26%;
}

.ui-btn-hover-a, .ui-btn-hover-c, .ui-btn-up-a, .ui-btn-up-c{
  margin: 0 7px 0 5px;
}

.deletePopUp .ui-btn-text{
  color: #fff;
}

/*input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset !important;
    font-family: helvetica neue;
    font-size: 14px;
    height: 38px;
    padding: 8px 12px;
    position: relative;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100% !important;
}*/

input.ui-input-text, textarea.ui-input-text{
  font-size: 14px;
}

div.ui-input-text input.ui-input-text,
div.ui-input-text textarea.ui-input-text,
.ui-input-search input.ui-input-text{
  padding: 0.55em 0;
}

.filter > div {
  margin-top: 8px !important;
}































.ui-block{
  width: 185px;
  float: left;
  margin: 9px 8px 0 0;
}

.ui-block.form_to_date_bx{
    width: 170px;
}

.ui-block.wdth20, .ui-block.wdth25, .ui-block.wdth15 {
    float: right;
    margin-top: -1px;
    margin-right: 5px;
}

.filterWrapper {
    border: 1px solid #ddd;
    border-radius: 10px;
    min-height: 65px;
    margin: 0 0 24px;
    padding: 5px 10px;
}



.themeWrapper{
  margin: auto auto auto 20px;
  width: 94%;
}

#wrapper {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ff7518;
    border-radius: 4px;
    clear: both;
    font-size: 1em;
    height: 86.3%;
    overflow: auto;
    padding: 0.5em 0 0 1.5em;
    text-align: left;
}

.containerWrap{
  padding:0 15px;
}

.col-sm-12 {
    display: inline-block;
    width: 100%;
}

.containerWrap{
  padding: 0 15px;
}

.mrgnSpc{
  margin: 0 14px 0 0;
}

.ui-bar-a a.ui-link{
  color: #fff !important
}

.ui-body-c .ui-link{
  text-decoration: none;
  outline: 0 none;
}

.icon5 {
    font-size: 34px;
    top: 8px !important;
}

.new-btnWrap{
  text-align: center;
  width: 55px !important;
}

.wdth20 > a, .wdth25 > a, .wdth15 a {
    margin: 0 0 0 15px;
}

.ui-block.ui-chkbx {
    margin-top: 12px;
}


#myNavmenu .sidemenu {
    width: 83px;
}

.fancybox-skin{
  border-radius: 10px !important;
  padding: 0 !important;
  border: 0 none !important;
}

.form-group label {
    font-weight: 400;
    font-size: 15px;
}

.ui-input-search, div.ui-input-text{
  margin: 0.3em 0 0.2em;
}

.infopop{
  margin-bottom: 10px !important;
}

body.ui-mobile-viewport, div.ui-mobile-viewport {
  /*  overflow: hidden !important;*/
}

.notestext {
    color: #452311;
    font-size: 0.7em;
    font-weight: bold;
    display: inherit !important;
    margin: 0 5px 0 0;
}

select > option {
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    margin: 3px 5px;
    padding: 5px;
}


.strikeThrough td, td.strikeThrough{
  text-decoration: line-through;
}


.strikeThrough td:last-child{
  text-decoration: none;
}

.addWrpBtn {
    clear: none;
    float: right;
    margin: 21px 0 0;
    text-align: center;
}

.addWrpBtn .ui-btn-inner{
  padding: 8px 11px;
}

.addWrpBtn .ui-btn-inner .icon{
  padding: 0;
  font-size: 16px;
}

.addWrpBtn.ui-btn:hover {
  color: #fff !important;
}

td #rightpanel{
  background: transparent none !important;
}

.custom-combobox.dnone{
  display: none !important;
}

.dmInout{
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.85em;
  display: none;
  margin: 0.3em 0 0.2em;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}

.widthsml {
  float: left;
  width: 75%;
}

.stockmessage{
  width: 88%;
  font-size: 14px;
  margin: 10px 0 15px 14px;
  display: inline-block;
}

#placeholdermessage{
  float: right;
  width: 90%;
  margin-top: 5px;
}
.stockchkbox {
    width: 50px;
    float: left;
    display: none;
}

.saveMessage{
  z-index: 999999;
}

/************************************ FADE IN/OUT ALERT **********************/

.alert-type2 {
  position: fixed;
  z-index: 1050;
  width: 53.1%;
  left: 50%;
  margin-left: -26.5%;
  box-shadow: 0 1px 18px rgba(0, 0, 0, .45);
  top: 20%;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #C00000;
  border-radius: 4px;
  color: rgb(179, 145, 145);
  font-size: 1.5em;
  text-shadow: 1px 1px 0px #C00000;
  animation: fadeout 2s forwards;
  animation-delay: 5s;
  -moz-animation: fadeout 2s forwards;
  -moz-animation-delay: 5s;
  -webkit-animation: fadeout 2s forwards;
  -webkit-animation-delay: 5s;
  -o-animation: fadeout 2s forwards;
  -o-animation-delay: 5s;
}

.alert {
  text-align:center; /* added to put all alert contents in center */
  position: fixed;
  z-index: 1045;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  box-shadow: 0 1px 18px rgba(0, 0, 0, .45);
  top: 20%;
  animation: fadeout 2s forwards;
  animation-delay: 5s;
  -moz-animation: fadeout 2s forwards;
  -moz-animation-delay: 5s;
  -webkit-animation: fadeout 2s forwards;
  -webkit-animation-delay: 5s;
  -o-animation: fadeout 2s forwards;
  -o-animation-delay: 5s;
}

@keyframes fadeout {
  to {
    top: -1000px;
  }
}

@-moz-keyframes fadeout {
  to {
    top: -1000px;
  }
}

@-webkit-keyframes fadeout {
  to {
    top: -1000px;
  }
}

@-o-keyframes fadeout {
  to {
    top: -1000px;
  }
}


.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #356635;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #2d6987;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}
.alert-warning hr {
  border-top-color: #f8e5be;
}
.alert-warning .alert-link {
  color: #a47e3c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-danger hr {
  border-top-color: #e6c1c7;
}
.alert-danger .alert-link {
  color: #953b39;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.error[for='display: block;']{
  display: block;
}

#ui-datepicker-div.zindex3{
  z-index: 3 !important;
}

.btn_bx .new-btnWrap .icon {
    font-size: 29px;
    top: 9px !important;
}

#loading {
    position: absolute;
    top: 37px;
    right: 9px;
    opacity: 0.5;
}

.posrel{
  position: relative;
}

span.error.reqissue{
  display: none;
  font-size: 0.9em;
  line-height: 17px;
}

#dateFormat{
  border: medium none;
  padding: 0;
  position: relative;
  width: auto;
  z-index: 9;
}

.left-nav.active{
  background-image: url("../../../webapp/img/leftnav1.png");
}

.facilityWdth .custom-combobox-input{
  padding: 10px 1px 9px 10px !important;
}

.dashboardUploadIcon {
    background: rgba(0, 0, 0, 0) url("../../../webapp/img/upload.png") no-repeat scroll 0 0;
    display: block !important;
    height: 31px;
    margin: 0 auto;
    width: 31px;
}

.fileUpload {
    cursor: pointer;
    float: right;
    margin: 7px -15px 0 0;
    /*overflow: hidden;*/
    padding: 0;
    position: relative;
}

.csvupload .ui-input-text{
  width: 83%;
  display: inline-block;
  margin-bottom: 0;
}

.csvupload label{
  display: block;
}


.fileUpload.dashboardUploadIcon > span {
    display: inline-block;
    font-size: 13px;
    margin: 31px 0 0 -3px !important;
}

.fileUpload .input.file {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    width: 33px;
    height: 33px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload input{
  cursor: pointer;
}

#uploadFile{
  opacity: 0.5;
}

.tab-heading {
  padding: 0 20px;
  margin: 0 0 -1px;
  position: relative;
}

.tab-heading > a{
  border: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
  color: #333 !important;
  display: inline-block;
  font: 14px helvetica neue;
  margin: 0 2px 0 0;
  padding: 10px 15px;
  background: #eee;
}

.tab-heading > a.active{
  display: inline;
  background: white;
  border-bottom-color: white;
}

.tab-content {
  border: 1px solid #ccc;
  border-radius: 0px 8px 8px;
  display: inline-block;
  margin: 0 20px;
  padding: 20px 0;
  width: 93%;
}

.tab-content .col-sm-6 {
  margin: 0 20px;
  width: 40%;
}

.tab-content > div{
  display: none;
}

.tab-content > div.in{
  display: block;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.borbottm{
  border-bottom: 1px solid #dddddd;
  margin: 0 0 10px;
  padding: 0 0 5px;
}

div#billnorecord, div#paymentnorecord, div#workdonenorecord, div#dailynorecord {
    background-position: 5px 0 !important;
    height: auto !important;
    padding: 8px 5px 5px 40px !important;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: textfield;
}


.adjust_report{background:url("../img/balance2a.png") no-repeat scroll 0px 4px transparent;background-position: 0px 4px!important;}
.sidemenu li a:hover .adjust_report, .adjust_report:hover, .new-btnWrap.active .adjust_report{background:url("../img/balance2b.png") no-repeat scroll 0px 4px transparent!important;background-position: 0px 4px!important}


.sbalance{background:url("../img/balance3a.png") no-repeat scroll 0px 4px transparent;background-position: 0px 4px!important;}
.sidemenu li a:hover .sbalance, .sbalance:hover, .new-btnWrap.active .sbalance{background:url("../img/balance3b.png") no-repeat scroll 0px 4px transparent!important;background-position: 0px 4px!important}

.new-btnWrap > .consumption {background:url("../img/consumption1a.png") no-repeat scroll -2px 3px transparent;background-position: -2px 3px!important;}
.sidemenu  li a:hover .consumption, .new-btnWrap > .consumption:hover, .new-btnWrap.active .consumption{background:url("../img/consumption1b.png") no-repeat scroll -2px 3px transparent!important;background-position: -2px 3px!important}










/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media  (min-device-width: 800px) and (max-device-width: 1280px) {
  #wrapper{height: auto; min-height: 530px;}
  .fixfixed{margin: -50px 0 0;}
  .tabdatepicker{margin-top: -50px;}
}

/* Portrait */
@media (max-device-width: 800px) and (orientation: portrait) {
  #wrapper{height: auto; min-height: 530px;}
  .fixfixed{margin: -50px 0 0;}
  .tabdatepicker{margin-top: -50px;}
}

/* Landscape */
@media (max-device-width: 1280px) and (orientation: landscape) {
  #wrapper{height: auto; min-height: 530px;}
  .fixfixed{margin: -50px 0 0;}
  .tabdatepicker{margin-top: -50px;}
}


.ui-table-reflow.ui-responsive{
  display: table;
}



#leftMenuToggle{
  left: 10px;
}

#leftMenuToggle.active{
  left: 94px;
}



/* required styles to handle the transitions */
.floatingheader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: left;
}

.floatHeader {
  border-bottom: 4px solid #f6841f;
  background-color: #452311;
  padding: 13px 10px;
  position: relative;
  display: block;
  z-index: 2;
  margin: 0;
}

.img-placeholder{
  display: inline-block;
}

.floatingheader #logoContainer.img-placeholder{
  margin: 0 !important;
  float: none;
}

.logOut_Box{
  text-shadow: none;
  margin: 3px 0 0;
  font-size: 1em;
  float: right;
  width: auto;
  color: #fff;
}

.logOut_Box #username.user {
  margin: 9px 5px 0 0 !important;
  font: 0.9em "Helvetica Neue",Helvetica !important;
}

.floatingheader .transition {
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  -o-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  overflow-y: hidden;            
}

.floatingheader #collapse-bar{
  float: left;
  margin: -24px 0 0 20px;
  cursor: pointer;
  background: url("../img/col-icn.png") no-repeat top left;
  width: 34px;
  height: 24px;
  visibility: hidden;
  position: relative;
  z-index: 1;
}

.floatingheader #collapse-bar.collapse-bar{
  visibility: visible;
  transition: margin-top 0.5s ease-in-out;
}

.floatingheader .btn-warning {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ed6a12 0px, #97450b 100%) repeat scroll 0 0;
  border: 1px solid #e95604 !important;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 0 10px !important;
  padding: 7px 8px 7px 6px;
  text-shadow: none;
  color: #fff;
}

.floatingheader .logoutbtn span {
  background: rgba(0, 0, 0, 0) url("/web/images/ico-sidepanel.png") no-repeat scroll -220px -7px;
  display: inline-block;
  height: 18px;
  width: 20px;
}

.floatingheader .dbicon span{
  font-size: 15px;
  height: 18px;
  right: -3px;
  width: 20px;
}
/* required styles to handle the transitions */


table th,
table td{
  word-break: break-all;
  word-wrap: break-word;
}


#rightpanel .dashboardEditIcon{
  height: 31px !important;
  width: 33px !important;
}

#rightpanel .dashboardIssuedIcon{
  height: 31px !important;
  width: 31px !important;
  background-position: -565px -98px !important;
}

#rightpanel .dashboardDeleteIcon{
  background-position: -83px -369px !important;
  height: 31px !important;
}

.cancelnotes{
  margin: 1.5% auto;
  text-align: left;
  width: 97%;
}

.cancelnotes textarea{
  border-radius: 5px;
  font: 12px georgia !important;
  height: 40px;
  margin: 5px 0 0;
  width: 100%;
}

.errorelem {
  color: red;
  font-size: 12px;
  padding: 5px;
  text-align: right;
}




.showInvIssueError{
  font-size: 0.84em;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 50%;
  display: none;
}

.showInvIssueError label{
  background-color: #f2dede;
  border:1px solid #eed3d7;
  color: #b94a48;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  display: inline-block;
  padding: 12px 20px;
  width: 40%;
}

.ui-submit{
  display: none;
}