body{
	background: #fff !important;
	margin: 0;
	padding: 0;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.dnone {
    display:none;
}

.transition {
    overflow-y: hidden;
    transition: top 0.5s ease-in-out 0s;
}

.floatingheader {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 2;
}

.floatHeader {
    background-color: #452311;
    border-bottom: 4px solid #f6841f;
    display: block;
    margin: 0;
    padding: 11px 10px;
    position: relative;
    z-index: 2;
    height: 44px;
}

.img-placeholder {
    display: inline-block;
}

.logOut_Box {
    color: #fff;
    float: right;
    font-size: 1em;
    margin: 3px 0 0;
    text-shadow: none;
    width: auto;
}

.floatingheader .btn-warning {
    background-image: linear-gradient(#fc6506, #ce5100 60%, #ce5100) !important;
    border: 1px solid #e95604 !important;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 0 10px !important;
    padding: 7px 8px 7px 6px;
    text-shadow: none;
}

.logoutbtn span {
    background: rgba(0, 0, 0, 0) url("../img/ico-sidepanel.png") no-repeat -220px -7px;
    display: inline-block;
    height: 18px;
    width: 20px;
}

.dbicon span {
    font-size: 15px;
    height: 18px;
    right: -3px;
    width: 20px;
}

.logOut_Box #username.user {
    font: 0.9em "Helvetica Neue",Helvetica !important;
    margin: 9px 5px 0 0 !important;
}

#collapse-bar.collapse-bar {
    transition: margin-top 0.5s ease-in-out 0s;
    visibility: visible;
}

#collapse-bar {
    background: rgba(0, 0, 0, 0) url("../img/col-icn.png") no-repeat scroll left top;
    cursor: pointer;
    float: left;
    height: 24px;
    margin: -24px 0 0 10px;
    position: relative;
    visibility: hidden;
    width: 34px;
    z-index: 1;
}

.collapse-bar {
    transition: margin-top 0.5s ease-in-out 0s;
}

#page{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}

.mplc-load.dnone {
    display: none;
}

.mplc-load {
    left: 10px;
    margin: auto;
    padding: 0;
    position: absolute;
    top: 100px;
}

#marketplace_frame {
    height: 100%;
    width: 100%;
}

.appSaveLoader, #customLoading, #fancybox-loading > div {
  background-color: #fff;
  border-radius: 0.3em;
  left: 50%;
  margin-left: -58px;
  padding: 0.5em;
  position: absolute;
  top: 22%;
  z-index: 9999;
}

.ui-widget-overlay, #customLoading {
  display: none;
}

.ui-widget-overlay {
  background: #000 none repeat scroll 0 0 !important;
  height: 100%;
  left: 0;
  opacity: 0.5 !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.ui-widget-overlay, #customLoading {
  display: none;
}


@font-face {
  font-family: "Glyphicons Halflings";
  src:url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), 
      url("../fonts/glyphicons-halflings-regular.woff") format("woff"), 
      url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), 
      url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

.glyphicon {
  font-family: "Glyphicons Halflings";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  top: 1px;
  display: inline-block;
}

.glyphicon-th:before {
  content: "\e011";
}