/** theming **/
@import url(https://fonts.googleapis.com/css?family=Raleway);
body{background: #fff !important; font-family: 'Raleway', sans-serif; height: auto;}
#page{padding: 0 0 !important; height: auto;}
a{text-decoration: none;}
a:hover b{color: #f89945; cursor: pointer;}

  /** header **/
  .ivory_header{background: #031942; padding: 10px 45px;}
  .blueBg{background: #43a8ee; min-height: 10px; display: none;}
  .header{margin: 0 auto; max-width: 1260px; padding: 0; text-align: left;}
  .ivory_header .logo_oi{width: 175px;}
  .hdr-height {
    border-top: 10px solid #43a8ee;
    height: 60px !important;
    background: #031942;
  }
  /** header **/

  /** commonWrapper **/
  #wrapper{background: #fff; border: 0 none; border-radius: 0; font-size: 1em; text-align: left;}
  #rightpanel{background: transparent;  border: 0 none !important;  height: auto !important;  padding: 0 60px !important;}
  /** commonWrapper **/

  /** pageTopButton(s) **/
  .mrgnSpc_oi{display:inline-block; margin:10px 0;/* width:100%;*/}
  .primary-button{color:#f89945; margin:0 0 0 15px; top: 0 !important;}
  .consumption .primary-button{margin:0 0 0 15px !important;}
  .primary-button > a{text-decoration:none;}
  .primary-button .icon-container{background:none; border:2px solid #00adef; display: table; border-radius: 20px; box-shadow:none; color:#f89945; font-size:10px; height:35px; margin:auto auto 2px; text-shadow:none; width:35px; vertical-align: middle;}
  .primary-button .icon-container span{padding: 0 !important; top: 0px; left:1px;}
  .btn-text{color:#504a4a; font-size:13px; display:block; font-weight:500; margin:0 auto; text-align:center; text-shadow:none;}
  .new-btnWrap{background: transparent; border: 2px solid #00adef; border-radius: 20px; box-shadow: none; color: #f6841f; font-size: 20px; height: 35px; margin: auto; text-align: center; width: 35px;}
  .icon5{top: 7px;}
  .new-btnWrap .icon{top: 5px; font-size: 20px;}
  .btn.active{background: #3399cc !important;}
  /** pageTopButton(s) **/

  /** pageheading(s) **/
  #rightpanel h1, h2, .infopop{background: #eee; border-left: 4px solid #f6841f; border-radius: 5px; color: #3399cc; font: bold 14px "Helvetica Neue","Raleway",Verdana,Arial,sans-serif; margin: 0 0 15px; padding: 6px 10px; text-rendering: optimizespeed; text-transform: capitalize; float: none; clear: both;}
  .infopop{border-bottom: 0 none; margin: 15px 10px;}
  /** pageheading(s) **/

  /** pageFilter(s) **/
  .filterWrapper{padding: 0;}
  input, textarea, select, .custom-combobox-input{background: #fff; width: 100%; border: 1px solid #ccc; border-radius: 5px; padding: 6px 8px; height: 31px; color: #1c1b1a; font: 400 13px 'Raleway', sans-serif;}
  .custom-combobox{width: 100%;}
  .custom-combobox > span {background: #fff; border-radius: 3px; color: #3399cc; cursor: pointer; font-size: 13px; height: auto; padding: 9px 6px 7px; position: absolute; right: 2px; top: 1px !important; z-index: 2;padding-bottom:5px;}  
  .ui-datepicker-trigger{background: #3399cc; border-radius: 0 5px 5px 0; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset; cursor: pointer;  height: 18px; padding: 6px 8px; position: absolute; right: -1px; top: 0; width: 18px;}
  .interButt{font-weight: 500; font-size: 13px;}
  .ui-block.ui-chkbx{margin-top: 8px;}
  .ui-chkbx input[type='checkbox']{float: left; width: auto; margin: 2px 10px 0 4px;}
  select > option{font-size: 12px; padding: 5px;}
  select{font-size: 12px; height: 30px; padding: 4px;}
  /** pageFilter(s) **/

  /** filterStructure **/
  .ui-block {float: left; margin: 0 10px 0 0; width: 160px; position: relative;}
  .ui-block.wdth20, .ui-block.wdth25, .ui-block.wdth15{float: right; margin: -5px 16px 0 0;}
  .wdth20 > a, .wdth25 > a, .wdth15 a {margin: 0 0 0 20px;}
  /** filterStructure **/

  /** tablestructure **/
  .tableWrp{border: 1px solid #3399cc; margin: 15px 0; font: normal 12px Georgia; display: inline-block;}
  .ui-table tr:nth-child(2n+1){background: #fff; border-bottom: 0;}
  .ui-table tr:nth-child(2n){background: #f2f2f2;}
  .ui-table th, .ui-table td {border-bottom: 0 none !important; color: #666; font: 13px Georgia; padding: 4px 10px; text-align: left;}
  .ui-table th{background: #3399cc; color: #fff;}
  .popupTableWrp{border-color: #3399cc !important;}

  /** title buttons **/
  .primary-button .icon-container:hover, .new-btnWrap:hover, .addstock:hover b{cursor:pointer; background: transparent; color: #f89945;}
  
  .manager{background:url("../img/sml_icon_oi3.png") no-repeat -176px -177px !important;}
  
  .reports{background:url("../img/sml_icon_oi3.png") no-repeat -101px -299px !important;}
  .reports:hover{background:url("../img/sml_icon_oi3.png") no-repeat -251px -176px !important;}

  .rqs{background:url("../img/sml_icon_oi3.png") no-repeat -321px -174px !important;}
  .rqs:hover{background:url("../img/sml_icon_oi3.png") no-repeat -324px -247px !important;}

  .ship{background:url("../img/sml_icon_oi3.png") no-repeat -176px -32px !important;}
  .ship:hover{background:url("../img/sml_icon_oi3.png") no-repeat -176px -106px !important;}
  
  .marketplace{background:url("../img/sml_icon_oi3.png") no-repeat -250px -29px !important;}
  
  .csv_icon{background-size: cover; background-position: 0 5px; width: 21px; height: 28px;}
  
  .new-btnWrap:hover .csv_icon{background-position: 0 5px;}
  
  /* reports btn */
  .reportsBtn .icon-container:hover{background:#43a8ee;}
  .reportsBtn .icon-container:hover .reports{background:url("../img/sml_icon_oi3.png") no-repeat -101px -351px !important;}

  /*margketplace btn */ 
  .marketplaceBtn .icon-container:hover{background:#43a8ee;}
  .marketplaceBtn .icon-container:hover .marketplace{background:url("../img/sml_icon_oi3.png") no-repeat -250px -103px !important;}

  /* search button */ 
  .active .new-btnWrap,.new-btnWrap:hover{background:#43a8ee;}
  .active .new-btnWrap,.new-btnWrap:hover .glyphicon{color:#ffffff;}

  /* csv icon */ 
  .new-btnWrap .csv_icon{background:url("../img/sml_icon_oi3.png") no-repeat -32px -299px !important;}
  .new-btnWrap:hover .csv_icon{background:url("../img/sml_icon_oi3.png") no-repeat -32px -352px !important;}

  /*dashboard*/ 
  .icon-container .glyphicon.glyphicon-th.icon{top:0px;left:1px;}

  /*manager */ 
  .icon-container:hover .manager{background: url("../img/sml_icon_oi3.png") no-repeat -176px -246px !important;}




  /** fontsAwesome **/
  @font-face {
    font-family: 'FontAwesome'; 
    src: url('../fonts/fontawesome-webfont.eot?v=4.4.0'); 
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), 
         url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
         url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), 
         url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), 
         url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg'); 
    font-weight: normal; 
    font-style: normal;
  }
  .fa, .save-btn, .fancyboxSaveBox .fancybox-close {display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
  /** fontsAwesome **/

  /** leftnav **/
  .navigation{display:none; min-height: 300px; position: fixed;top: 17%;z-index: 9;background: #fff;border-radius: 0 5px 5px 0;box-shadow: 0 0 3px #828282;height: auto;padding: 10px 7px;width: auto;}
  .navigation nav {}
  .navigation li{list-style-type: none; padding: 0 0 5px; margin: 0 0 5px; border-bottom: 1px solid #ccc; min-width: 65px;}
  .navigation li .new-btnWrap{margin: auto;}
  .navigation li .btn-text{font-size: 11px;}
  .navigation a.active b{color: #f89945;}
  /*.navigation a:hover span{border-color: #f89945;}*/
  .navigation li:nth-last-child(1){border-bottom: 0 none;margin: 0;padding: 0;}  
  .nav_puller{background:url("../img/oi_nav_pull2.png") no-repeat -2px 0px; z-index: 9; width: 42px; height: 82px; position: fixed; left: 0; top: 45.5%; cursor: pointer;}
  .nav_puller.active{left:79px; background:url("../img/oi_nav_pull2-active.png") no-repeat -2px 0px;}
  /** leftnav **/

  /** leftnav - Icons **/
  .lftico{display: block;height: 45px;left: 50%; margin-left: -19px; position: relative;width: 45px; background:url("../img/sml_icon_oi2.png") no-repeat top left;}
  .sidemenu li a:hover .new-btnWrap{background: transparent;}

  .stock{background-position: -101px -30px !important;}
  .shipment{background-position: -175px -31px !important;}
  .reqs{background-position: -319px -172px !important;}
  .transin{background-position: -25px -176px !important;}
  .transout{background-position: -23px -27px !important;}
  .issue_return{background-position: -102px -178px !important;}
  .adjustment{background-position: -324px -28px !important;}
  .sledger{background-position: -101px -30px !important;}
  .consumption{background-position: -178px -306px !important;}
  .batch_expiry{background-position: -26px -406px !important;}
  .adjust_report{background-position: -324px -28px !important;}
  .sbalance{background-position: -99px -303px !important;}

  /* Left Menu Icons hover */ 
.new-btnWrap:hover .stock, .active .stock{background-position:-102px -105px !important}
.new-btnWrap:hover .shipment, .active .shipment{background-position: -174px -106px !important;}
.new-btnWrap:hover .reqs, .active .reqs{background-position: -322px -245px !important;}
.new-btnWrap:hover .transin, .active .transin{background-position: -25px -246px !important;}
.new-btnWrap:hover .transout, .active .transout{background-position: -21px -102px !important;}
.new-btnWrap:hover .issue_return, .active .issue_return{background-position: -101px -248px !important;}
.new-btnWrap:hover .adjustment, .active .adjustment{background-position: -323px -102px !important;}
.new-btnWrap:hover .sledger, .active .sledger{background-position: -103px -105px !important;}
.new-btnWrap:hover .consumption, .active .consumption{background-position: -178px -350px !important;}
.new-btnWrap:hover .adjust_report, .active .adjust_report{background-position: -323px -102px !important;}
.new-btnWrap:hover .sbalance, .active .sbalance{background-position: -100px -351px !important;}
.new-btnWrap:hover .batch_expiry, .active .batch_expiry{background-position: -26px -458px !important;}

  /** popup - ui **/
  .form-group label {font-weight: 500;font-size: 13px;}
  #popUpformWrap input{margin-top: 5px;}
  #popUpformWrap .custom-combobox > span{top: 6px !important;}
  #popupTableWrp input[type='submit'], .popupTableWrp input[type='submit'], #popUpformWrap input[type='submit']{display: none;}
  #popUpformWrap .row > div select{border: 1px solid #ccc; border-radius: 5px; height: 31px; margin-top: 5px; font-size: 12px; cursor: pointer;}
  .addWrpBtn{border: 2px solid #666; border-radius: 25px; clear: none; color: #3399cc !important; float: right; padding: 5px 6px 7px 7px; text-align: center; margin: 19px 0 0;}
  .addWrpBtn span{font-size: 19px; padding: 0; right: 0; top: 0;}
  .dmInout {border: 1px solid #ccc; border-radius: 5px; display: none; font-size: 0.75em; margin: 0.3em 0 0.2em; padding: 7px 11px;}
  td #rightpanel{background: transparent none !important;padding: 0 !important;}
  .sml-hght{height: 60px;}
  .download-btn-n {background-position: -562px -196px;}
  .upload-btn-n {background-position: -468px -196px;}
  .upload-btn-n, .download-btn-n {height: 40px;right: -35px;top: -1px;width: 40px;border-radius: 4px;}
  /** popup - ui **/

  /** error **/
  span.error{clear: both; color: #f00; display: inline-block; font-size: 0.75em; margin-top: 3px;}
  /*span.error[for='form_qty']{margin: 3px 0 0 33px;}*/
  /** error **/

  /** pagination **/
  .first, .last, .previous, .next{width: 25px; height: 25px; background-position: -219px -47px;}
  .previous {background-position: -261px -47px;}
  .next {background-position: -240px -47px;}
  .last {background-position: -198px -47px;}
  .dataTables_paginate span a{height: auto; line-height: inherit; padding: 4px 10px; font: normal 13px 'Raleway' !important;}
  .dataTables_paginate span a.current {background: #3399cc;border: 1px solid #3399cc;color: #fff !important;height: auto;top: 0;}
  /** pagination **/

  /** datepicker **/
  .ui-datepicker{padding: 0.4em 0.4em 0;}
  #ui-datepicker-div.ui-widget-content{border-color: #3399cc; width: 14em;}
  #ui-datepicker-div .ui-widget-header{background: transparent; border-radius: 0; border: 0 none; border-bottom: 1px solid #3399cc; padding: 0;}
  .ui-datepicker .ui-datepicker-prev{height: auto;left: 0;width: auto;}
  .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{height: auto; width: auto;}
  #ui-datepicker-div.ui-datepicker .ui-datepicker-title{color: #3399cc; font: 600 14px 'Raleway'; padding: 0 0 5px;}
  .ui-datepicker table{font: 0.75em 'Raleway';}
  #ui-datepicker-div.ui-datepicker th{padding: 0.2em; font-weight: 500;}
  #ui-datepicker-div .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{background: #f89945;border: 1px solid #f89945;color: #fff;font-weight: normal;}
  .ui-datepicker td span, .ui-datepicker td a{padding: 0.2em; text-align: center;}
  .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: 1px solid #fcc5a3;}
  /** datepicker **/

  /** loader **/
/*  .appSaveLoader, #customLoading, #fancybox-loading > div{padding: 1em;}*/
  #fancybox-loading{opacity: 1; margin: 0;}
  #fancybox-loading div{background: #fff url("../img/oi_loader.gif") no-repeat center center !important; padding: 0.19em !important; }
  /** loader **/

  /** popupicon **/
  .save-btn, .fancyboxSaveBox .fancybox-close{font-size: 28px; text-indent: 0; color: #3399cc !important; padding-top: 6px; height: 34px !important; background: #fff !important; border-color: #3399cc!important; border-radius: 4px !important; width: 40px !important; right: -35px !important;}
  .fancyboxSaveBox .fancybox-close:before{content: "\f00d";}
  .save-btn:before{content: "\f0c7";}
  .fancyboxSaveBox .fancybox-close {top: 48px !important;}
  .save-btn {top: -1px;}
  .form-group{position: relative;}
  .row .form-group .ui-datepicker-trigger, .rowhalf .form-group .ui-datepicker-trigger{bottom: 0; top: inherit;}
  /** popupicon **/

  /** textarea **/
  .checkbxNotified input[type="checkbox"] {
    float: left;
    margin: 2px 10px 0 0;
    width: auto;
  }
  .checkbxNotified .ui-block {width: auto;}
  .checkbxNotified {
    margin: 33px 0 0 20px !important;
    text-align: left;
    width: auto !important;
  }
  .checkbxNotified label {
    float: right;
    width: auto;
  }
  .counter-text {color: #452311;font-size: 0.7em;font-weight: bold;display: inherit !important;margin: 5px 5px 0 0;}
  .txtareanote {width: 70%;margin: 0 0 10px 23px;text-align: left;}
  #requisitionListForm .txtareanote {
    margin: 0;
    text-align: left;
    width: 80% !important;
  }
  /** textarea **/

  /** no-record-found **/
  .recrdpage div#dailynorecord {border: 1px solid #3399cc !important; display: block; font: 12px georgia; margin-top: 15px !important;}
  div#dailynorecord {background: rgba(0, 0, 0, 0) none; border: 0 none !important; border-radius: 4px !important; clear: both; color: #333; display: inline-block !important; height: auto; margin: 0 !important; padding: 8px; text-align: center; width: 100% !important;}
  /** no-record-found **/

  /** stockledger report **/
  .stk input, .stk textarea, .stk select, .stk .custom-combobox-input{width: 89%; height: 17px;}
  .stk #advanceOptionsToggle select{width: 100%;}
  .stk .ui-chkbx .interButt{position: relative; top: -3px;}
  input[type='checkbox']{height: auto;}
  /** stockledger report **/

  /** cencelicon **/
  #rightpanel .dashboardDeleteIcon{background-position: -82px -369px;}
  #rightpanel .dashboardEditIcon{width: 33px; height: 31px;}
  #rightpanel .dashboardRecieptIcon1{background-position: 4px -332px;}
  /** cencelicon **/


/** theming **/



.chkboxWrp .ui-checkbox {
    width: auto !important;
}

.ui-checkbox .ui-checkbox-on.ui-btn-icon-left .ui-icon {
    background-position: -252px -1px !important;
}

.dnone{
    display: none;
}

#report_parameters{
    margin: 0;
    padding: 0;
}

.ui-select{
  padding: 0.3em 0 0.2em
}

#billReport #billReportSearch > div:nth-last-child(1) {
    margin-top: 10px !important;
}



.fancybox-image, .fancybox-iframe {
    border-radius: 5px !important;
}


#billReport #billReportSearch > div.form_to_date_bx{
    width: 170px !important;
}

.icontext {
    margin: 0 0.1em 0 0;
}
.icontext a {
    color: #000;
    font-size: 0.625rem;
    margin: 0;
    padding: 0 5px;
}
.icontext a:hover, focus {
    color: #a85d35;
}
.icons a {
    margin: 0;
    padding: 0 5px;
}
.btn-wrp {
    border-radius: 4px;
    margin-bottom: 0.3em !important;
    margin-top: 0.3em !important;
}

.ui-mobile, .ui-mobile body {
    height: 99.5%;
}

.paginationWrap{
    position: relative;
    z-index: 1;
}

.dataTables_paginate .current.previous.ui-link {
    background: #fff url("../img/ico-sidepanel.png") no-repeat -258px -44px;
    border: 1px solid #f5851f;
    height: 30px;
}

.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

#rightpanel .listBtn {
    color: #000 !important;
    font-size: 0.8em !important;
    letter-spacing: inherit !important;
    cursor: pointer;
    padding: 0 !important;
    font-family: 'Raleway', sans-serif;
}

#popUpformWrap{
  display: inline-block;
    text-align: left;
    width: 100%;
}

#popUpformWrap .row,
#popUpformWrap .rowhalf{
    width:100%;
    float: left; 
    margin: 0 0 13px;
}

#popUpformWrap .rowhalf {
    margin: 0 32px 13px;
    width: 38%;
}

.col-sm-6 {
    float: left;
    margin: 0 32px;
    width: 38%;
}

.rowhalf .col-sm-6 {
    margin: 0;
    width: 100%;
}

label.ui-select{
    margin: 0; 
    padding: 0;
}

.ui-disabled {
    background: #e3e3e3 none repeat scroll 0 0;
    opacity: 0.9;
}

#popUpformWrap .ui-submit{
    clear: both;
    display: none;
}

#popUpformWrap .labelsdata span{
  display: block;
  padding: 8px 0 0;
}

.labelsdata {
    margin: 0 0 30px !important;
}

.dashboardApproveIcon{
    background: url("../img/inventoryBlueTheme.png") no-repeat scroll -294px -9px transparent !important;
    display: block !important;
    height: 31px;
    margin: 0 auto;
    width: 31px;
}
#facility > option {
    padding: 2px 3px;
    font-size: 14px;
}


.popupTableWrp .ui-submit{
    display: none;
}

.popautocomplete .ui-autocomplete{
    left: 20px !important;
}

#logoContainer{
    margin: 10px 0 10px !important;
}

#logoContainer img{
    width: auto !important;
    height: auto !important;
}



.ui-loader .ui-icon {
    background: rgba(0, 0, 0, 0) url("../img/ajax-loader.gif") no-repeat scroll center center !important;
    border-radius: 36px;
    display: block;
    height: 58px;
    margin: 0;
    padding: 12px;
    width: 58px;
}

.ui-loader-default{
    height: auto;
    width: auto;
    opacity: 0.8;
    background: none transparent;
}

p.error, .errorTxt, #mobPhoneErrorMsg{
    font-size: 0.9em;
}

.txtarea{
    width: 87%;
}

.txtarea textarea{
    width: 100% !important;
    height: 38px;
    padding: 8px 12px;
}

.formEle.error{
  color: #333;
  font-size: 13.5px;
  margin-bottom: 0;
}

.logout-wrp {
    float: right;
    color: #fff;
    margin: 4px 0 0;
}

.col-xs-6 {
    width: 8.9%;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

#username {
    font: .81em "Raleway" !important;
    margin: 10px 30px 0 0;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
a:hover {
    outline: medium none !important;
    text-decoration: none;
}
a:active, a:hover {
    outline: 0 none;
}

#billReport #billReportSearch > div.twoWaySearch {
  margin: 10px 0 0 !important;
  text-align: center;
  width: 100px !important;
}

.checkBDiv.mt-8 {
  margin: 22px 0 0 !important;
  width: 190px !important;
}

.sml-checkBDiv.mt-8{
  margin: 28px 0 0 !important;
  width: 170px !important;
  min-height: inherit !important;
}

.btn-warning {
    background-image: none !important;
    border: 2px solid #806f6f !important;
    border-radius: 20px !important;
    box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
    height: auto !important;
    padding: 6px 7px 8px !important;
    top: 0 !important;
}

.btn-warning:hover{
  background: #3399cc;
}

.btn-warning:hover span{
  color: #fff;
}

/* specifically include & exclude from printing */
@media print {
    #report_parameters {
        visibility: hidden;
        display: none;
    }
    #report_parameters_daterange {
        visibility: visible;
        display: inline;
    }
    #report_results table {
        margin-top: 0px;
    }
}

/* specifically exclude some from the screen */
@media screen {
    #report_parameters_daterange {
        visibility: hidden;
        display: none;
    }
}

.alertMsg{
   background: #ffe8e8 !important;
   padding: 15px 20px !important;
}

.txtCenter{
  text-align: center !important;
}

.txtRight{
  text-align: right !important;
}

th.txtRight{
  padding-right: 20px !important;
}
.bgsuccess{
  background: #c3ffc3 !important;
}

.checkBDiv .ui-checkbox .ui-btn-icon-left .ui-icon {
  left: 155px !important;
}

.checkBDiv .ui-checkbox input {
  left: 170px;
}

.sml-checkBDiv .ui-checkbox .ui-btn-icon-left .ui-icon {
  left: 128px !important;
  margin: -12px 0 0 0;
}

.sml-checkBDiv .ui-checkbox input {
  left: 142px;
}

.sml-checkBDiv .ui-checkbox .ui-btn-icon-left .ui-btn-inner{
  padding-left: 0;
}

#billReport #billReportSearch > div.twoWaySearch.exportBtn{
  width: 70px !important;
}

#billReport #billReportSearch div.mt-8 {
  min-height: 73px;
}

#billReport #billReportSearch > div.dBoxMgnR {
  margin: 8px 0 0 !important;
  padding: 0 0.5em;
  width: 23.45% !important;
}

.cntrD{
  padding: 0 20px 0 0 !important;
}

#billReport #billReportSearch > div.twoWaySearch.search {
  padding: 0 28px 0 0 !important;
  width: 80px !important;
}

#placeholder{
  width: 50%;
  resize: both;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: relative;
  bottom: 20px;
  height: 170px;
}

#placeholder img {
    margin: auto;
    height: 160px;
}

#placeholder img.autohgt{
  height: auto;
}

.ui-autocomplete.ui-front {
  cursor: pointer;
    border: 0 none;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
    font: 13px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 1px 0 0 -15px;
    padding: 5px;
}
.ui-autocomplete.facilityAutosuggestList {
   border: 0 none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
    padding: 5px 5px;
    width: 210px !important;
}

.facilityAutosuggestList.ui-menu .ui-menu-item {
  padding: 0px;
  margin: 0;
}

.facilityAutosuggestList.ui-menu .ui-menu-item  a{
  display: block;

  margin: 0px 0;
  width: 95%;
}

.ui-menu .ui-menu-item {
  display: inline-block;
  padding: 0;
  width: 100%;
}


.ui-menu.ui-widget li > a {
    display: block;
    padding: 5px;
    text-align: left;
    width: 96%;
}

.ui-menu .ui-menu-item a span:nth-child(1) {
  border: 1px solid #e8e8e8;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  padding: 1px;
  margin: 0 10px 0 0;
}
.ui-menu .ui-menu-item a span {
  float: left;
}

.ui-menu .ui-menu-item a.ui-state-focus {
  padding: 5px;
  border: 0 none;
  border-radius: 5px;
  background: #3399ff;
  color: #fff;
  text-shadow: 0 0 0;
}

.ui-menu .ui-menu-item a span:nth-child(2) {
  width: 70%;
}

/*#addEditTransferForm .row{
  margin: 3px 0 0;
}*/

.readonly{
  background: #f1f1f1 !important;
}

#billReport #billReportSearch > div.infull{
  width: 23.45% !important;
  margin-top: 8px !important;
}

#advanceOptions.active .icon-container{
  background: #ff7f27;
  color: #fff;
}

.wdth19{
  width: 19% !important;
}

#billReport #billReportSearch.filter .btn-wrap {
  float: right;
  margin-top: 0 !important;
  padding: 0 !important;
  width: 22% !important;
}

.btn-wrap > a {
  margin: 0 20px 0 0;
}

.filter .ui-block:nth-child(n) {
  float: left;
  width: 185px;
}

.filter .ui-chkbx{
  width: auto !important;
  margin-top: 14px !important;
}
.filter #advanceOptionsToggle .ui-chkbx7{
  margin-top: 7px !important;
}

.filter #advanceOptionsToggle > div:nth-child(1) {
  padding: 0 0.5em;
}

.filter #advanceOptionsToggle > div {
  margin-top: 0;
  padding-right: 0.5em;
}

#advanceOptionsToggle{
  width: 100% !important;
  display: inline-block;
}

#advanceOptionsToggle.dnone{
  display: none;
}

.new-btnWrap.active .icon{
  color: #fff;
}

.left-nav1{
  left: 85px !important;
}

.lastnav a {
    border-bottom: 0 none !important;
}

.sidemenu li a {
  margin: auto;
  padding: 5px 0 !important;
  text-align: center;
  width: 83px;
}


#effect .new-btnWrap {
  height: 46px !important;
  margin: auto;
  width: 52px !important;
}

.dnonein{
  display: none !important;
}


.ui-menu.ui-widget li > a {
  display: flex;
  padding: 5px;
  text-align: left;
}

.ui-menu.ui-widget .ui-menu-item a.ui-state-focus {
  padding: 5px;
  display: flex;
  margin:0;
}

.left-nav{
  z-index: 2;
}

.managerBtn.dnone,
.reportsBtn.dnone{
  display: none ;
}



.mplc-load {
  display: flex;
  height: 100%;
  width: 100%;
}

.mplc-load img{
  margin: auto;
}

.mplc-load.dnone{
  display: none;
}

#marketplace_frame{
  height: 100%;
  width: 100%;
}

/* required styles to handle the transitions */
.transition {
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  -o-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  overflow-y: hidden;            
}

#collapse-bar{
  float: left;
  margin: -24px 0 0 10px;
  cursor: pointer;
  background: url("../img/col-icn.png") no-repeat top left;
  width: 34px;
  height: 24px;
/*  position: absolute;
  top: 80px;
  z-index: 9;*/
}
.collapse-bar{
  -webkit-transition: margin-top 0.5s ease-in-out;
  -moz-transition: margin-top 0.5s ease-in-out;
  -o-transition: margin-top 0.5s ease-in-out;
  transition: margin-top 0.5s ease-in-out;
}

.dummyIcon {
    border-radius: 8px;
}
.dummyIcon {
  display: table-cell;
  font-size: 2em;
  padding: 0 0 0.13em 0.16em;
  vertical-align: middle;
}


#reports > li:last-child a {
   /* border: 0 none;*/
}
.reducexwdth .custom-combobox-input{
  width: 87%;
}
#billReport #billReportSearch.filter .btn-wrap.wdth20{
  width: 25% !important;
}
.wdth20{
  width: 20% !important;
}

.wdth25{
  width: auto !important;
}

.wdth15 {
    width: auto !important;
}

.deletePopUp {
  z-index: 99999 !important;
  margin: 0 !important;
}

.interButt.ui-btn-up-c:hover, 
.interButt.ui-btn-hover-c:hover, 
.interButt.ui-btn-up-a:hover, 
.interButt.ui-btn-hover-a:hover{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
}
.ui-btn-hover-a, .ui-btn-hover-c, .ui-btn-up-a, .ui-btn-up-c{
  margin: 0 7px 0 5px;
}

.deletePopUp .ui-btn-text{
  color: #fff;
}

/*input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset !important;
    font-family: helvetica neue;
    font-size: 14px;
    height: 38px;
    padding: 8px 12px;
    position: relative;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100% !important;
}*/

input.ui-input-text, textarea.ui-input-text{
  font-size: 14px;
}

div.ui-input-text input.ui-input-text, 
div.ui-input-text textarea.ui-input-text, 
.ui-input-search input.ui-input-text{
  padding: 0.55em 0;
}

.filter > div {
  margin-top: 8px !important;
}




























.col-sm-12 {
    display: inline-block;
    width: 100%;
}

.ui-bar-a a.ui-link{
  color: #fff !important
}

.ui-body-c .ui-link{
  text-decoration: none;
  outline: 0 none;
}



#myNavmenu .sidemenu {
    width: 83px;
}

.fancybox-skin{
  border-radius: 10px !important;
  padding: 0 !important;
  border: 0 none !important;
}



.ui-input-search, div.ui-input-text{
  margin: 0.3em 0 0.2em;
}


.strikeThrough td, td.strikeThrough{
  text-decoration: line-through;
}


.strikeThrough td:last-child{
  text-decoration: none;
}



.custom-combobox.dnone{
  display: none !important;
}
.widthsml {
  float: left;
  width: 75%;
}

.stockmessage{
  width: 88%;
  font-size: 14px;
  margin: 10px 0 15px 14px;
  display: inline-block;
}

#placeholdermessage{
  float: right;
  width: 90%;
  margin-top: 5px;
}
.stockchkbox {
    width: 50px;
    float: left;
    display: none;
}

.saveMessage{
  z-index: 999999;
}

/************************************ FADE IN/OUT ALERT **********************/

.alert-type2 {
  position: fixed;
  z-index: 1050;
  width: 53.1%;
  left: 50%;
  margin-left: -26.5%;
  box-shadow: 0 1px 18px rgba(0, 0, 0, .45);
  top: 20%;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #C00000;
  border-radius: 4px;
  color: rgb(179, 145, 145);
  font-size: 1.5em;
  text-shadow: 1px 1px 0px #C00000;
  animation: fadeout 2s forwards;
  animation-delay: 5s;
  -moz-animation: fadeout 2s forwards;
  -moz-animation-delay: 5s;
  -webkit-animation: fadeout 2s forwards;
  -webkit-animation-delay: 5s;
  -o-animation: fadeout 2s forwards;
  -o-animation-delay: 5s;
}

.alert {
  text-align:center; /* added to put all alert contents in center */
  position: fixed;
  z-index: 1045;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  box-shadow: 0 1px 18px rgba(0, 0, 0, .45);
  top: 20%;
  animation: fadeout 2s forwards;
  animation-delay: 5s;
  -moz-animation: fadeout 2s forwards;
  -moz-animation-delay: 5s;
  -webkit-animation: fadeout 2s forwards;
  -webkit-animation-delay: 5s;
  -o-animation: fadeout 2s forwards;
  -o-animation-delay: 5s;
}

@keyframes fadeout {
  to {
    top: -1000px;
  }
}

@-moz-keyframes fadeout {
  to {
    top: -1000px;
  }
}

@-webkit-keyframes fadeout {
  to {
    top: -1000px;
  }
}

@-o-keyframes fadeout {
  to {
    top: -1000px;
  }
}


.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #356635;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #2d6987;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}
.alert-warning hr {
  border-top-color: #f8e5be;
}
.alert-warning .alert-link {
  color: #a47e3c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-danger hr {
  border-top-color: #e6c1c7;
}
.alert-danger .alert-link {
  color: #953b39;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.error[for='display: block;']{
  display: block;
}

#ui-datepicker-div.zindex3{
  z-index: 3 !important;
}

#loading {
    position: absolute;
    top: 37px;
    right: 9px;
    opacity: 0.5;
}

.posrel{
  position: relative;
}

span.error.reqissue{
  display: none;
  font-size: 0.9em;
  line-height: 17px;
}

#dateFormat{
  border: medium none;
  padding: 0;
  position: relative;
  width: auto;
  z-index: 9;
}

.left-nav.active{
  background-image: url("../../../webapp/img/leftnav1.png");
}

.facilityWdth .custom-combobox-input{
  padding: 0 0 0 8px !important;
  width: 96%;
}

.dashboardUploadIcon {
    background: rgba(0, 0, 0, 0) url("../../../webapp/img/upload.png") no-repeat scroll 0 0;
    display: block !important;
    height: 31px;
    margin: 0 auto;
    width: 31px;
}

.fileUpload {
    cursor: pointer;
    float: right;
    margin: 7px -15px 0 0;
    /*overflow: hidden;*/
    padding: 0;
    position: relative;
}

.csvupload .ui-input-text{
  width: 83%;
  display: inline-block;
  margin-bottom: 0;
}

.csvupload label{
  display: block;
}


.fileUpload.dashboardUploadIcon > span {
    display: inline-block;
    font-size: 13px;
    margin: 31px 0 0 -3px !important;
}

.fileUpload .input.file {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    width: 33px;
    height: 33px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload input{
  cursor: pointer;
}

#uploadFile {
    color: #333 !important;
    padding: 0 0 0 8px;
    width: 82%;
}

.tab-heading {
  padding: 0 20px;
  margin: 0 0 -1px;
  position: relative;
}

.tab-heading > a{
  border: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
  color: #333 !important;
  display: inline-block;
  font: 14px helvetica neue;
  margin: 0 2px 0 0;
  padding: 10px 15px;
  background: #eee;
}

.tab-heading > a.active{
  display: inline;
  background: white;
  border-bottom-color: white;
}

.tab-content {
  border: 1px solid #ccc;
  border-radius: 0px 8px 8px;
  display: inline-block;
  margin: 0 20px;
  padding: 20px 0;
  width: 93%;
}

.tab-content .col-sm-6 {
  margin: 0 20px;
  width: 40%;
}

.tab-content > div{
  display: none;
}

.tab-content > div.in{
  display: block;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: textfield;
}

#reportsstockledgerbody select {height:30px;}
.download-btn-n{color:#3399cc;}
.fancybox-close{background:url("../../../webapp/img/icons-spirite-2.png") no-repeat scroll 2px 2px #fff !important;border:2px solid #3399cc !important;}
.download-btn-n{background:url("../../../webapp/img/icons-spirite-2.png") no-repeat scroll -144px -1px #fff !important;border:2px solid #3399cc !important;}
.upload-btn-n {background:url("../../../webapp/img/icons-spirite-2.png") no-repeat scroll -144px -42px #fff !important;border:2px solid #3399cc !important;}
.custom-combobox > span {color:#3399cc;}
#rightpanel .dashboardViewIcon{background:url("../img/inventoryBlueTheme.png") no-repeat scroll -60px -8px transparent !important;}
#rightpanel .dashboardRecieptIcon1{background:url("../img/inventoryBlueTheme.png") no-repeat scroll -93px -2px transparent !important;}
#rightpanel .dashboardDeleteIcon{background:url("../img/inventoryBlueTheme.png") no-repeat scroll -134px -9px transparent !important;}
#rightpanel .dashboardEditIcon{background:url("../img/inventoryBlueTheme.png") no-repeat scroll -253px -9px transparent !important;}
#rightpanel .dashboardIssuedIcon{background:url("../img/inventoryBlueTheme.png") no-repeat scroll -336px -8px transparent !important;height: 32px;
    width: 31px;
    display: inline-block;}
sup.required{ font-size: 24px; line-height: 0.11; top: 5px; color: #f00; display: inline-block!important; height: 10px!important;}

#addeditreturn .row:nth-last-of-type(1){position:relative;}
#addeditreturn .row:nth-last-of-type(1) > span:nth-of-type(1){position:absolute;top:55px;left:33px;}
#addeditreturn .row:nth-last-of-type(1) > span:nth-of-type(2){position:absolute;top:55px;left:324px;}

/*Calender UI Change Ankur - in jQuery UI*/
.ui-datepicker-prev span.ui-icon-circle-triangle-w {top:12px;left:11px;}
.ui-datepicker-next span.ui-icon-circle-triangle-e {top:12px;left:-11px;}

.glyphicon {color:#43a8ee;}
.primary-button .icon-container:hover {background:#43a8ee;}
.primary-button .icon-container:hover .glyphicon{color:#ffffff;}

/*.col-sm-12.borbottm .mrgnSpc_oi.floatRight > div:nth-child(1){margin-left:2px;}
.col-sm-12.borbottm .mrgnSpc_oi.floatRight > div:nth-child(2){margin-left:-6px;}*/
.col-sm-12.borbottm .reportsBtn.btn-right .consumption.btn-right{margin-right:24px;}
.col-sm-12.borbottm .reportsBtn.btn-right .consumption.btn-right > div:nth-child(1){margin-left:3px;}

.addEditData.primary-button.btn-right.ui-link:hover b{color:orange;}
.reportsBtn.btn-right .addEditData.primary-button:hover b{color:orange;}
.consumption.btn-right .uploadCSV.primary-button.btn-right.ui-link:hover b{color:orange;}

.stocksPage .primary-button .icon-container span{left:1px;}

.mrgnSpc .primary-button.btn-right.ui-link {}
.mrgnSpc .marketplaceBtn.btn-right{margin-left:2px;}
.mrgnSpc_oi  .addEditData.primary-button.btn-right.ui-link{margin-right:25px;}
.addstock .addEditData.primary-button{margin-right:10px;}
.issuereturn .primary-button.addEditData{margin-right:9px;}
.adjustment .primary-button.addEditData{margin-right:24px;}
.consumption .uploadCSV.primary-button.btn-right.ui-link{position:relative;right:16px;}

.ui-block.wdth25{margin-right:11px;}
.ui-block.wdth20{margin-right:11px;}
.ui-block.wdth15{margin-right:11px;}
.wdth20 > a{margin-left:38px;}
.wdth25 > a{margin-left:38px;}
.wdth15 > a{margin-left:38px;}

/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media  (min-device-width: 800px) and (max-device-width: 1280px) {
  #wrapper{height: auto; min-height: 530px;}
  .fixfixed{margin: -50px 0 0;}
  .tabdatepicker{margin-top: -50px;}
}

/* Portrait */
@media (max-device-width: 800px) and (orientation: portrait) {
  #wrapper{height: auto; min-height: 530px;}
  .fixfixed{margin: -50px 0 0;}
  .tabdatepicker{margin-top: -50px;}
}

/* Landscape */
@media (max-device-width: 1280px) and (orientation: landscape) {
  #wrapper{height: auto; min-height: 530px;}
  .fixfixed{margin: -50px 0 0;}
  .tabdatepicker{margin-top: -50px;}
}



/* required styles to handle the transitions */
.floatingheader {
  position: fixed;
  top: -66px;
  width: 100%;
  z-index: 2;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: left;
}

.floatHeader {
  border-bottom: 4px solid #f6841f;
  background-color: #452311;
  padding: 11px 10px;
  position: relative;
  display: block;
  z-index: 2;
  height: 44px;
  margin: 0;
}

.img-placeholder{
  display: inline-block;
}

#logoContainer.img-placeholder{
  margin: 0 !important;
  float: none;
}

.logOut_Box{
  text-shadow: none;
  margin: 3px 0 0;
  font-size: 1em;
  float: right;
  width: auto;
  color: #fff;
}

.logOut_Box #username.user {
  margin: 9px 5px 0 0 !important;
  font: 0.9em "Helvetica Neue",Helvetica !important;
}

.transition {
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  -o-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  overflow-y: hidden;            
}

#collapse-bar{
  float: left;
  margin: 0 0 0 10px;
  cursor: pointer;
  background: url("../img/col-icn.png") no-repeat top left;
  width: 34px;
  height: 24px;
  visibility: visible;
  position: relative;
  z-index: 1;
}

#collapse-bar.collapse-bar{
  visibility: visible;
  transition: margin-top 0.5s ease-in-out;
}

.floatingheader .btn-warning {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ed6a12 0px, #97450b 100%) repeat !important;
  border: 1px solid #e95604 !important;
  border-radius: 4px !important;
  box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75) !important;
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 0 10px !important;
  padding: 7px 8px 7px 6px !important;
  text-shadow: none;
  color: #fff !important;
}

.logoutbtn span {
  background: rgba(0, 0, 0, 0) url("../../../web/images/ico-sidepanel.png") no-repeat scroll -220px -7px;
  display: inline-block;
  height: 18px;
  width: 20px;
}

.dbicon{
  display: none;
}

.dbicon span{
  font-size: 15px;
  height: 18px;
  right: -3px;
  color: #fff;
  width: 20px;
}
/* required styles to handle the transitions */


table th,
table td{
  word-break: break-all;
  word-wrap: break-word;
}
/*
.showdflt .error.sdsfsdfsdfsdf{
  display: none;
}*/

.reqissue.dnone{
  display: none;
}

/*.consumptionManagerPage table tr td:nth-child(2){max-width:300px;}
.consumptionManagerPage table tr td:nth-child(4){min-width:140px;}*/


.logoutBtn span {
    background: rgba(0, 0, 0, 0) url("../../../web/images/ico-sidepanel.png") no-repeat scroll -220px -7px;
    display: inline-block;
    height: 18px;
    width: 20px;
    margin-bottom:-2px;
}

.lrgErTxt {
  font-size: 1em !important;
}

.lrgErTxt .counter-text{
  font-size: 0.6em;
}

.mrgnSpc_oi .primary-button{
  margin: 0 0 0 20px;
}


.cancelnotes{
  margin: 1.5% auto;
  text-align: left;
  width: 97%;
}

.cancelnotes textarea{
  border-radius: 5px;
  font: 12px georgia !important;
  height: 40px;
  margin: 5px 0 0;
  width: 100%;
}

.errorelem {
  color: red;
  font-size: 12px;
  padding: 5px;
  text-align: right;
}

.popupTable span.error{
  font-size: .9em;
}


.showInvIssueError{
  font-size: 0.84em;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 33%;
  display: none;
}

.showInvIssueError label{
  background-color: #f2dede;
  border:1px solid #eed3d7;
  color: #b94a48;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  display: inline-block;
  padding: 10px 20px;
  width: 40%;
}


input[disabled='disabled']{
    background: #e2e2e2;
}