body {
    margin: 0px 0px 0px 2px;
    /* set the base font and size for all DOM children */
    font-family:"Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    font-size: 1em;  /* set the base font size for all DOM children */
}

a {
  color: #452311;
  text-decoration: none;
}

a:visited {
  color: #452311;
}

a:hover {
  color: #452311;
}
.valignM{vertical-align: middle !important}
.leftmenu{width:175px;}
.bor-Collapse{border-collapse:initial !important}
.btn-warning {
  color: #ffffff !important;font-weight:bold;}
.list-view li{display:block;list-style-type:none;}
.list-group-item{min-height: 36px;padding:5px 15px !important; }
.panel-gray .panel-heading {
    background-color: #452311;
    border-color: #af9080;
    color: #fff;
}
.huge{font-size:2em;}
.panel-gray{
    border-color: #452311 !important;
}
.box-heght{
    min-height:260px;
}
.space{padding-right:10px;}
.clear_1{padding:10px 0px;clear:both}
.admin{ background: url(../pic/admin.png) no-repeat;height: 32px;display:inline-block;width:32px;}
.menu {
    font-family: sans-serif;
    font-style: italic;
    font-size: 11pt;
    color: #0000cc;
    text-decoration: none;
    text-align: left;
}

.menu_selected {
    font-family: sans-serif;
    font-style: italic;
    font-size: 11pt;
    color: #000000;
    text-decoration: none;
    text-align: left;
}

.logout {
    font-family: sans-serif;
    font-style: italic;
    font-size: 11pt;
    color: #000000;
    text-decoration: none;
    text-align: right;
}

.feedbackQues{display:none;}

.text {
    font-family: sans-serif;
    text-decoration: none;
    color: #000000;
    font-size: 10pt;
}

.required {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 10pt;
    color: #880000;
    font-weight: bold;
}

.bold {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 10pt;
    color: #000000;
    font-weight: bold;
}

.alert {
    font-family: sans-serif;
    font-size: 70%;
    color: #FF0000;
    text-decoration: none;
}

.small {
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    font-size: 80%;
}

.link {
    font-family: sans-serif;
    text-decoration: none;
    color: #0000cc;
    font-size: 70%;
}

.more {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 70%;
}

.back {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 70%;
}

.link_selected {
    font-family: sans-serif;
    text-decoration: none;
    color: #0000FF;
    font-size: 70%;
}

.link_selected:visited {
    font-family: sans-serif;
    text-decoration: none;
    color: #0000FF;
    font-size: 70%;
}

.link_submit {
    font-family: sans-serif;
    text-decoration: none;
    color: #000077;
    font-size: 10pt;
}

.link_submit a:visited {
  color: #000077;
}

.link_submit a:hover {
  color: #ff5555;
}

.items {
    font-family: sans-serif;
    font-size: 6pt;
}

.title {
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
}

/* see .titlebar below */
.title_bar {
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.title_bar_top {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

/*=============================================================
 * Here we have taken variables from globals.php and turned them into CSS classes
 * these should be used in place of the GLOBAL variables -- JRM March 2008
 *=============================================================*/
.body_top { background-color: #f3dbb3; margin: 8px }    /* $top_bg_line */
.bgcolor2 { background-color: #B6D2E0; }    /* $GLOBALS['style']['BGCOLOR2'] */
.body_bottom { background: url('../pic/aquabg.gif') repeat; margin: 8px }  /* $bottom_bg_line */
.body_title { background-color: #452311; }  /* $title_bg_line */
.body_nav { background-color: #452311; }    /* $nav_bg_line */
    /* $nav_bg_line */

.body_filler { background-color: #f7f0d5; } /* $login_filler_line */
.body_login { background: url('../pic/aquabg.gif') repeat; } /* $login_body_line */
.table_bg { background-color: #ccc; }           /* $table_bg */
.bgcolor1 { background-color: #ccc; }       /* $GLOBALS['style']['BGCOLOR1'] */
.textcolor11 { background-color: #222; }    /* $GLOBALS['style']['TEXTCOLOR11'] */
.highlightcolor { background-color: #ddd; } /* $GLOBALS['style']['HIGHLIGHTCOLOR'] */
.bottom_line { background: url('../pic/aquabg.gif') repeat; }    /* $GLOBALS['style']['BOTTOM_BG_LINE'] */
.logobar { background-color:#452311; height: 110px; border-bottom: #ff7518 3px solid; }                 /* $GLOBALS['logoBarHeight'] */
.navbar { height: 22px; }                   /* $GLOBALS['navBarHeight'] */
.titlebar { height: 20px; }                 /* $GLOBALS['titleBarHeight'] */


/* style taken out of the addressbook code and put here instead */
#addressbook_list td {
font-family: Arial, Helvetica, sans-serif;
padding-left: 4px;
padding-right: 4px;
}
#addressbook_list a, #addressbook_list a:visited, #addressbook_list a:hover {
color:#0000cc;
}
#addressbook_list tr.search {
font-size:9pt;
font-weight:bold;
}
#addressbook_list tr.head {
font-size:10pt;
background-color:#cccccc;
font-weight:bold;
}
#addressbook_list tr.detail {
font-size:10pt;
}
#addressbook_list .inputtext {
font-family:monospace;
font-size:9pt;
font-weight:normal;
border-style:solid;
border-width:1px;
border-color: #000000;
background-color:transparent;
}
#addressbook_list .button {
font-family:sans-serif;
font-size:8pt;
font-weight:bold;
}

/* styles taken out of templates/report/general_default.html */
#reports_list td {
font-size:8pt;
font-family:helvetica;
}
#reports_list a {
font-size:8pt;
font-family:helvetica;
}

/* styles taken out of templates/documents/general_list.html */
#documents_list td {
font-size:8pt;
font-family:helvetica;
}
#documents_list a {
font-size:8pt;
font-family:helvetica;
}
#documents_list .treeMenuDefault {
font-style: italic;
}
#documents_list .treeMenuBold {
font-style: italic;
font-weight: bold;
}
#documents_list {
    width: 29%;
    height: 95%;
    overflow: auto;
    float: left;
    border-right: dashed 1px;
}
#documents_actions {
    padding-top: 10px;
    width: 70%;
    height: 95%;
    float: right;
    overflow: auto;
}
#documents_actions iframe {
    display: inline;
    border:none;
    width:100%;
    height:600px;
    overflow: auto;
}
#documents_actions form {
    margin: 0px; padding: 0px;
}
#documents_actions table {
    width: 100%;
    height: 95%;
}

/*=============================================================
 * This section relates to the custom layouts that can be made
 * using the OEMR tool in the Admin section. For example, the
 * Patient Demographics are a custom layout.
 *============================================================*/
#DEM .groupname {
    font-weight: bold;
    color: #080;
    font-size: 0.8em;
    padding-right: 5px;
    vertical-align: top;
}
#DEM .label {
    font-weight: bold;
    font-size: 0.8em;
    vertical-align: top;
    text-align: right;
}
#DEM .data {
    font-size: 0.8em;
    vertical-align: top;
    text-align: left;
    padding-right: 6px;/*30px - ie 6 fix*/
}

/* Patient History */

#HIS .groupname {
    font-weight: bold;
    color: #080;
    font-size: 9pt;
    padding-right: 1px;
    vertical-align: top;
    height: 2em;
}
#HIS .label {
    font-weight: bold;
    font-size: 9pt;
    vertical-align: top;
}
#HIS .data {
    font-size: 9pt;
    vertical-align: top;
    text-align: left;
    padding-right: 10px;
}


/*=============================================================
 * Patient Notes
 * seen in the patient summary and notes screens
 *============================================================*/
#pnotes .billing {
    background-color: #dfd;
}

#pnotes .highlight {
    background-color: #fff;
}

#pnotes table {
    border-collapse:collapse;
}

#pnotes .noterow {
    cursor: pointer;
}

#pnotes .noterow td {
    border-bottom:1px dashed black;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
}


/*=============================================================
 * Patient Stats
 * seen in the patient stats screens
 *============================================================*/
#patient_stats {
    padding: 10px;
}

#patient_stats table {
    width: 100%;
    border-collapse: collapse;
}
#patient_stats td {
    padding: 3px;
}
#patient_stats .statrow {
    cursor: pointer;
}

#patient_stats .head {
    font-size:10pt;
    background-color:#cccccc;
    text-align:center;
}

#patient_stats .detail {
    font-size:10pt;
    vertical-align: top;
}

#patient_stats .btn {
    background-color:transparent;
}

#patient_stats .bg1 {
    background-color: #ddddff;
}
#patient_stats .bg2 {
    background-color: #ffdddd;
}

#patient_stats .center {
    text-align: center;
}


/*=============================================================
 * Patient Stats Summary
 * seen in the patient summary screen
 *============================================================*/
#patient_stats_summary table {
    border-collapse: collapse;
}
#patient_stats_summary .noend_noreturn {
    color: #ee0000;
}
#patient_stats_summary .noend {
    color: #dd5500;
}
#patient_stats_summary .noreturn {
    color: #0000ff;
}
#patient_stats_summary .title {
    font-size: 1.1em;
}
#patient_stats_issues {
    width: 100%;
}
#patient_stats_spreadsheets {
    width: 100%;
}
#patient_stats_imm {
    width: 100%;
}
#patient_stats_prescriptions {
    width: 100%;
}

/*=============================================================
 * Patient Past Encounters and Documents
 * seen in the patient encounter screen
 *============================================================*/
#patient_pastenc {
    width:100%;
}

#patient_pastenc .billing_note {
    width: 25%;
}
#patient_pastenc .billing_note_text {
    padding: 5px;
    border: 2px outset black;
    background-color: lightgrey;
}
#patient_pastenc .billing_note_text_highlight {
    background-color:#f7f5d1;
}
#patient_pastenc table {
    border-collapse: collapse;
    width:100%;
}
#patient_pastenc tr {
    cursor: pointer;
}
#patient_pastenc td {
    border-top: 1px solid black;
    vertical-align: top;
}
#patient_pastenc th {
    text-align: left;
}
#patient_pastenc #tooltipdiv {
    position:absolute;
    width:500px;
    border:1px solid black;
    padding:2px;
    background-color:#ffffaa;
    visibility:hidden;
    z-index:1000;
    font-size:9pt;
}
#patient_pastenc .highlight {
    background-color: #fff;
}
#patient_pastenc .tooltip {
    position:absolute;
    border:1px solid #333;
    background:#f7f5d1;
    padding:2px 5px;
    color:#333;
    display:none;
}


/*=============================================================
 * Patient Reports
 * seen in the patient reports screens
 *============================================================*/
#patient_reports {
    width:100%;
}
#patient_reports .issues {
    padding-right: 30px;
}
#patient_reports .issues table {
    margin: 10px 0px 10px 0px;
}
#patient_reports .issues td {
    padding: 2px;
}
#patient_reports .encounters td {
    padding: 2px;
}
#patient_reports .encounter_forms {
    margin:5px 15px 5px 15px;
}
#patient_reports td {
    vertical-align: top;
}
#patient_reports ul {
    list-style: none;
}


/*=============================================================
 * Report - Custom
 * seen as the patient report (custom_report.php)
 *============================================================*/
#report_custom {
    width:100%;
}
#report_custom hr {
    border: 2px dotted black;
}
#report_custom .billing {
    margin: 5px;
    padding: 5px;
}
#report_custom h1 {
    font-size: 120%;
    margin:  0px 0px 5px 0px;
    padding: 0px;
}
#report_custom .immunizations {
    margin: 5px;
    padding: 5px;
}
#report_custom .notes {
    margin: 5px;
    padding: 5px;
}
#report_custom .transactions {
    margin: 5px;
    padding: 5px;
}
#report_custom .communications {
    margin: 5px;
    padding: 5px;
}
#report_custom .documents {
    margin: 5px;
    padding: 5px;
}
#report_custom .demographics {
    margin: 5px;
    padding: 5px;
}
#report_custom .insurance {
    margin: 5px;
    padding: 5px;
}
#report_custom .history {
    margin: 5px;
    padding: 5px;
}
#report_custom .issue {
    margin-left: 20px;
}
#report_custom .issue_type {
    font-weight: bold;
    padding: 5px 0px 5px 0px;
}
#report_custom .issue_diag {
    margin: 0px 20px 0px 20px;
}
#report_custom .issue_title {
}
#report_custom .issue_comments {
}
#report_custom .encounter {
    width: 100%;
    border-top:2px dotted black;
    padding: 10px 5px 10px 5px;
    margin-top: 10px;
}
#report_custom .encounter h1 {
    font-size: 140%;
    margin: 0px;
    padding: 0px;
}
#report_custom .encounter_form {
    margin: 10px;
    padding: 10px;
    border-top: 1px solid gray;
}
#addressbook_list tr.evenrow {
    background-color:#ddddff;
}
#addressbook_list tr.oddrow {
    background-color:#ffffff;
}


/*
 * CSS BUTTONS
*/
.css_button_small {
    background: transparent url( '../../images/bg_button_a_small.gif' ) no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: bold 9px arial, sans-serif;
    height: 19px;
    margin-right: 3px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
}

.css_button_small span {
    background: transparent url( '../../images/bg_button_span_small.gif' ) no-repeat;
    display: block;
    line-height: 20px;
    padding: 0px 0px 0px 10px;
}

.css_button {
    background: transparent url( '../../images/bg_button_a.gif' ) no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: bold 10px arial, sans-serif;
    height: 24px;
    margin-right: 3px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
}

.css_button span {
    background: transparent url( '../../images/bg_button_span.gif' ) no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 10px;
}
.sellistclass {
float:left;
}

.disabled_button {
	color: grey;

}

a.disabled_button:hover {
  color: grey;
}

/*
 * TABS
*/

ul.tabNav { margin: 0; padding: 0; }
ul.tabNav { float: left; list-style: none; width: 100%; }
ul.tabNav li { float: left; margin: 0 1px 0 0; padding: 6px 0 0;
	font-size: 0.8em;
    vertical-align: bottom;
    text-align: left;
}
ul.tabNav li.current { padding-top: 0;
	font-weight: bold;
	font-size: 0.8em;
    vertical-align: bottom;
    text-align: left;
}
ul.tabNav a { background:#452311;font-size:14px;color:#fff; display: block; padding: 4px 7px; text-decoration: none; }
ul.tabNav li.current a { background:#ff7518 ;padding: 8px; color:#fff;}

div.tabContainer { clear: both; float: left; width: 100%; border:1px solid #FF4309; }
div.tabContainer div.tab { border: 1px solid #FFFFFF; color: #000; display: none; padding: 10px; }
div.tabContainer div.current { display: block; }
div.tab { 	min-height: 180px; background: #FFFFFF none repeat scroll 0 0; margin-bottom: 10px;width:665px;}
div.tab_long { 	min-height: 180px; background: #FFFFFF none repeat scroll 0 0; margin-bottom: 10px;width:100%;}
div.tab p:last-child { margin-bottom: 0; }

div.tab table td {
	padding-right: 1px; padding-bottom: 0px
}

div.tab table td.label {
	min-width:80px;
}

div.tab table td.data {
	min-width:120px; /*170px*/
}

div.notab {
    background: #D7DFE7 none repeat scroll 0 0; margin-bottom: 10px; width:100%;
}

div.notab-right {
    background: #D7DFE7 none repeat scroll 0 0; margin-bottom: 10px; width:100%;
}

.section-header {
	margin-bottom:5px; width:685px; border-bottom: 1px solid;
}

.section-header-dynamic {
	margin-bottom:5px; border-bottom: 1px solid;
}

.summary_item {
	 background:#D7DFE7; padding:8px;
}

/*
* REPORTS
*/

#report_parameters {
    background-color: #fff;
	margin-top:10px;
    color:#000;
   /* border: 1px solid #ff4309; */
    padding:10px;
}

#report_parameters table {

	width: 100%;
    border-collapse: collapse;
}
#report_parameters table td {
    padding: 5px;
    box-sizing: border-box;
}

#report_parameters table table {
    border: 0px;
    border-collapse: collapse;
	/*font-size: 0.8rem;*/
}

#report_parameters table table td.label {
	text-align: left; font-size:14.67px;
    font-family: sans-serif;
    color: #000;
}

#report_results table {
    background: #fff;
   border-top: 1px solid #ff4309;
   border-bottom: 1px solid #ff4309;
   border-left: 1px solid #ff4309;
   border-right: 1px solid #ff4309;
   width: 100%;
  border-collapse: collapse;
    margin-top: 1px;
   font-size: 10pt;
}
#report_results table thead ,#report_results table thead a{
    padding: 5px;
    display: table-header-group;
    background-color: #734229;color:#fff;
	text-align:left;
	font-weight: bold;
	//font-size: 0.7em;
}
.boldtxt{font-size:18px;}
#report_results table th {
    border-bottom: 1px solid black;
	padding: 5px 9px;
}
#report_results table td {
	padding: 5px 9px;
    /*border-bottom: 1px dashed;*/
	//font-size: 0.8em;
        /*word-break: break-all;*/
}
#report_results table .label{
    width:270px;
    padding-left: 15px;
}

.report_totals td {
    background-color: #77ff77;
    font-weight: bold;
}
.width270{
    width:270px;
}
/**
* List-table formatting
**/
.showborder {
width:650px;
}
.showborder td {
border-bottom:1px dashed #000000;
text-align:left;
font-size:9pt;
}
.showborder_head  th {
border-bottom:1px solid #000000;
text-align:left;
font-size:9pt;
}
.shownoborder td {
text-align:left;
font-size:9pt;
}
.showborder_long {
width:100%;
}
.showborder_long tr td{
border-bottom:1px dashed #000000;
text-align:left;
font-size:9pt;
}

/**
* Drug lookup
**/
.drug_lookup{
	font-family: helvetica;
	font-size: 8pt;
	border: 2px outset rgb(102, 102, 102);
	background-color: #e4db96;
	padding: 5px;
	position: absolute;
	display: block;
}

/* Password alert styles */
.pwdalert {
    display: block;
    width: 390pt;
    margin-left: 100px;
    padding: 10px 10px 10px 15px;
    color: black;
  }
.alertmsg1 {
    border: 3px solid #fe7b7a;
    background-color: #ffd6d6 ;
  }
.alertmsg2 {
    border: 3px solid #f56fff;
    background-color: #fabfff;
  }
.alertmsg3 {
    border: 3px solid #9acc2e;
    background-color: #eef7dd;
  }
/* Password alert styles */

/* Style for red font */
.redtext {
    font-family: sans-serif;
    text-decoration: none;
    color: #FF0000;
    font-size: 10pt;
}
/* Style for red font */

.de_identification_status_message{
	width: 50%;
	border:1px solid #0000FF;
}

.de_identification_input_controls_box{
	width: 100%;
	border:1px solid #0000FF;
}

.de_id_upgrade_login{
	width: 40%;
	border:1px solid Black;
        background-color:#FFFFFF;
}

#navigation-slide, #navigation-slide *{
    padding-left:0px;
    margin:0px;
}

#navigation-slide li{
    list-style:none;
}

#navigation-slide a{
    background: #fdbd84;
    color: #000;
    display: block;
   // font-weight: bold;
    padding: 5px 2px 5px 10px;
    width: 180px;font-size: 13px
}

#navigation-slide li a.collapsed{ cursor: pointer;
    background: #ff7518; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7518', endColorstr='#ff8d20'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ff7518), to(#ff8d20)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ff7518,  #ff8d20); /* for firefox 3.6+ */
}

#navigation-slide li a.expanded{
    background: #e4720d; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed8f3b', endColorstr='#e4720d'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ed8f3b), to(#e4720d)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ed8f3b,  #e4720d); /* for firefox 3.6+ */
}
.panel-heading a{color:#ff;}
#navigation-slide ul li a.collapsed_lv2{
    background: #f78a2a; /* for non-css3 browsers */

}

#navigation-slide ul li a.expanded_lv2{
    background: #f8851f; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8a41f', endColorstr='#f8851f'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f8a41f), to(#f8851f)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #f8a41f,  #f8851f); /* for firefox 3.6+ */
}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
        float:left;
        border: 1px solid #8CACBB;
        background: #999; /* for non-css3 browsers */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2D566A', endColorstr='#B6D2E0'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#2D566A), to(#B6D2E0)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #2D566A,  #B6D2E0); /* for firefox 3.6+ */
}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	color: #004080;
	text-align:left;
	text-decoration: none;
	font-size: 0.8em;
        font-weight:bold;
}

#sddm li a:hover
{
    background: #b7beca;
}

#sddm div
{
    position: absolute;
    visibility: hidden;
    display: none;
    margin: 0;
    padding: 0;
    background: #C0DCF1;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

#sddm div a
{
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    width: 170px;
    white-space:normal;
    text-align: left;
    text-decoration: none;
    background: #e1e4e9;
    color: #2875DE;
    font-size: 0.8em;
    font-weight:normal;
}

#sddm div a:hover
{
    background: #b7beca;
    color: #000000;
}
.text-area{
  background-color:#FFFFFF;
  border:1px solid black;
  width:100%;
  height:100px;
  overflow:auto;
  text-align:left;
}
.example_menu {
            font-size: 70%;
            list-style: none;
            margin: 0;
            padding: 0;
            vertical-align: top;
            width: 136px;
}
.expand_all,
.collapse_all {
	cursor: pointer;
}
.example_menu ul {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu1 li, #menu2 li, #menu3 li, #menu4 li, #menu5 li, .example_menu li {
	background-image: none;
	margin: 0;
	padding: 0;
	border-bottom:1px solid white;
}
.example_menu ul ul {
	display: block;
}
.example_menu a {
	color: #000;
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin-left: 0;
	padding: 2px 2px 2px 17px;
	width: 160px;
}
.example_menu a.expanded {
	background: #bbb url('collapse.gif') no-repeat 3px 50%;
}
.example_menu a.collapsed {
	background: #bbb url('expand.gif') no-repeat 3px 50%;
}
.example_menu a:hover {
	text-decoration: none;
}
.example_menu ul li span {
	 background: #d9d1a4;
	color: #000;
	display: block;
	font-weight: normal;
	width:100%;
}
.example_menu ul a:Subjective {
	font-weight: normal;
}
.example_menu ul a:hover {
	background : #f5f5f5;
	text-decoration: underline;
}
.example_menu li.active a {
	background: #fff;
}
.example_menu li.active li a {
	background: #e8e8e8;
}
#menu1 li.footer, #menu2 li.footer, #menu3 li.footer, #menu4 li.footer, #menu5 li.footer, .example_menu .footer {
	background: transparent url('footer.jpg') no-repeat 0 0;
	border-top: 2px solid #fff;
	height: 9px;
	line-height: 15px;
	margin: 0 0 10px 0;
	width: 131px;
}
.example_menu .footer span {
	display: none;
}
.cke_contents {
height: 300px !important;
}

/* Form styles */
.formtable {
        font-size:13px;
        line-height: 24px;
    }
.formtable tr td {
        line-height: 24px;
    }

.inv_css_button {
    background: transparent url( '../../images/bg_button_a.gif' ) no-repeat scroll top right;
    color: #444;
    display: inline-block;
    font: bold 10px arial, sans-serif;
    height: 24px;
    margin-right: 3px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
}

.inv_css_button span {
    background: url("../../images/bg_button_span.gif") no-repeat scroll left top;
    display: inline-block;
    padding: 5px 0 6px 10px;
}
/*=======================================START: Custom CSS====================================================*/
#report_parameters table select,
.searchReport table select,
/*#report_parameters table input[type=text],*/
.searchReport table input[type=text]{
    width: 100%;
}

.searchReport #form_from_date,
.searchReport #form_expiry_date,
.searchReport #form_to_date{
    width: auto;
}

.formEle{
    width: 299px;
}

#requisitionList td{
    line-height: 22px;
}

#report_parameters #form_to_date,
#report_parameters #form_expiry_date,
#report_parameters #to_expiry_date,
#report_parameters #form_from_date{
    width: 87%;
} /* width: 80%; */

#report_parameters #form_from_date{width:85%;}

 .popover_div,.reason_pop{position: relative;cursor: pointer;}
            .clearfix:before {
                clear: both;
                content: " ";
                display: block;
                height: 0;
                visibility: hidden;
            }
            .clearfix:after {
                clear: both;
                content: " ";
                display: block;
                height: 0;
                visibility: hidden;
            }
            .popoverDetailList {
                background: none repeat scroll 0 0 #fff;
                list-style: none outside none;
            }
            .popoverDetailList li {
                float: left;
                width: 48%;
                border-bottom: 1px solid #452311;
                padding: 1%;
            }
            .dashbList th {
                background: linear-gradient(to bottom, #be631d 0%, #e5791f 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
                color: #fff;
                text-shadow: 0 1px 0 #000;
            }
            .dashbList td {
                background: none repeat scroll 0 0 #fff;
                border-bottom: 1px solid #431f19;
            }
            .dashbList th, .dashbList td {
                padding: 0.5em;
                text-align: left;
                vertical-align: middle;
            }
            .popover {
                background:#fff;
                border: 1px solid #9a460b;
                border-radius: 0.3em;
                box-shadow: 0 0 18px 1px rgba(50, 50, 50, 0.75);
                color: #000;
                display: none;
                position: absolute;
                line-height:18px;
                left:110px;
                padding: 4px;
                text-align: center;
                width: 400px;
                z-index: 4;
            }

            #fancy_title,
            #fancy_title_main{
                display: none !important;
            }


            #legendGroup, #legendGroup > li{
                float: left;
                margin: 0;
                padding: 0;
                list-style: none;
            }

            #legendGroup{
                width: 100%;
                margin-top: .5em;
            }

            #legendGroup > li{
                border: 1px solid #000;
                margin: 0 .3em .3em 0;
                display: inline-block;
                padding: .3em;

            }

            input[readonly]{
                background-color: #F3DBB3;
                border: 1px solid rgba(89%, 36%, 0%, .5);
            }

            #report_results .glyphicon{
                color: #4F2C1A;
            }



/* ################################### REPORT CHANGES EMR ############################# */

/* EMR REPORT PAGE BUTTON CLASSES */

.glyphicon{top:2px!important;}

.subbut{margin-top:10px;padding:5px 10px 5px 10px!important;border-radius:4px;}
.filterspan{position:relative;top:-11px;}
.topnopad{padding-top:0px!important;}
.botnopad{padding-bottom:0px!important;}
.newfontnormal{font-weight:normal!important;}
.topnomrg{margin-top:0px;}
.botnomrg{margin-bottom:0px!important;}
.mb-2{margin-bottom:2em}
.vizhidden{visibility:hidden;}
.newfloatl{float:left;}
.newnoclear{clear:none!important;}
.leftpad{padding-top:0px;padding-right:0px;padding-bottom:0px;}
.emrh3{background:#FF7518;border:1px solid #FF4309;color:white;padding:10px 15px;font-size:15px;font-weight:normal;margin-bottom:0px;margin-top:0px;}
.emrinput{height: 31px!important;line-height: 31px!important;padding: 5px 10px!important;font-size: 13px!important;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset!important;transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out!important;color: #333!important;background-color: #FFF!important;background-image: none!important;border: 1px solid #CCC!important;display: block!important;width: 100%!important;}
.emrdate{height:28px!important;font-size:15px;font-weight:400;}
.emrform{margin-top: 0px; padding-top: 15px; margin-right: 0px; float: left; width: 100%;border:1px solid red;border-top:0px;}
.v2padding {padding:1px 2px 1px 2px !important;}
.mrgnoleft {margin-left:0px;}
.blacklabel{color:black!important;}
.blacklabel:hover{display:inline;font-size:100%;}
.newnopadding{padding:0px!important;}
.newheightauto{height:auto!important;}
.newtopmrg8{margin-top:8px;}
.newredborder{border:1px solid #FF4309;}
.newwidth100{width:100%!important;}

.emrh3{background:#FF7518;border:1px solid #FF4309;color:white;padding:10px 15px;font-size:15px;font-weight:normal;margin-bottom:0px;}
.emrform{background:white;margin-top: 0px; padding:15px;margin-right: 0px; float: left; width: 100%;border:1px solid red;border-top:0px;box-sizing:border-box;}
.emrtext{padding-top:5px;padding-left:5px;color:red;}
.emrpagination {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    margin-top: 8px;
    padding: 5px !important;
}
.emrpagination .dataTables_info {
    margin: 0 0 5px;
}
.emrpagination li {
    display: inline;
    margin: 0 !important;
    padding: 0;
}
.emrpagination a {
    background: #ccc none repeat scroll 0 0;
    border-radius: 1px !important;
    color: #734229;
    display: inline-block !important;
    font: 14px "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    margin: 0 2px;
    padding: 2px 10px !important;
    text-decoration: none !important;
}
.emrpagination a.pgselected, .emrpagination a.current {
    background: #ff7518 none repeat scroll 0 0;
    color: #fff !important;
    list-style-type: none;
    position: relative;
}
.emrpagination li:last-child{
    margin: 0 0 0 10px !important;
    display: inline-block;
}
.emrpagination li:last-child .customBtn {
    background: #ff7518 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 1px;
    color: #fff;
    margin: 0 0 0 6px;
    padding: 3px 8px;
}
.emrpagination a:hover{color:#ff7518;text-decoration:none;}
.leftnomrg{margin-left:0px!important;}
.leftmrg6{margin-left:6px!important;}
.newvm{vertical-align:middle!important;}
.newtextc{text-align:center;}
.newrel10{position:relative;top:10px;}
.newlabel{font-size:14.67px!important;}

.wordbreak{word-break:break-all!important;}
.wbreak{word-break:break-word!important;}
.newtextcenter{text-align:center!important;}
#ftrans_pcontact, #ftrans_sr_no{width:100%;}
/* Auditing table pagination special */
#auditingtablepagination ul.pagination li:nth-last-child(1){margin-top:4px!important;margin-left:12px!important;font-size:14px;}

#form_facility,#formClinic,.emrinput{height: 31px;line-height: 31px;padding: 5px 10px;font-size: 13px;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out;color: #333;background-color: #FFF;background-image: none;border: 1px solid #CCC;display: block;width: 100%;}
.emrdate{height:28px!important;font-size:15px;font-weight:400;}
.emrtable td{border: 1px solid #452311!important;color: #333!important;}
.emrtable tbody tr:nth-child(2n+1){background-color: #F7D9CA!important;font-size:13px!important;font-family:"Source Sans Pro",Calibri,Candara,Arial,sans-serif!important;}
.emrtable tbody tr:nth-child(2n){background-color: #FDEDE5;font-size:13px;line-height:13.333px;font-family:"Source Sans Pro",Calibri,Candara,Arial,sans-serif;}
.emrtable th td{border-bottom: 1px solid #000; padding: 5px 9px;border-bottom: 1px solid #000;padding: 5px 9px;border-collapse: collapse;font-size: 10pt;}
.emrtable thead{padding: 5px!important; display: table-header-group!important; background-color: #734229!important;color: #FFF!important; text-align: left!important; font-weight: bold!important;border-collapse: collapse!important; font-size:14px;border:1px solid black;} /*font-size: 10pt!important;*/
.newboldtxt{height:50px;font-size:18px!important;padding-top:14px;}
.newfloatright{float:right;}

.btn {display: inline-block;margin-bottom: 0;font-weight: normal;text-align: center;vertical-align: middle; -ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;background-image: none;border: 1px solid transparent; white-space: nowrap;padding: 10px 18px;font-size: 15px;line-height: 1.42857143;border-radius: 0;-webkit-user-select: none; -moz-user-select: none;-ms-user-select: none;user-select: none;}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
.btn:hover, .btn:focus, .btn.focus {color: #ffffff;text-decoration: none;}
.btn:active, .btn.active {outline: 0;background-image: none;-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {cursor: not-allowed;pointer-events: none; opacity: 0.65;filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none;}
.btn-warning {color: #ffffff !important;background-color: #ff7518; border-color: #ff7518;}
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning { color: #ffffff; background-color: #e45c00; border-color: #da5800;}
.btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning { background-image: none; }
.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled.focus, .btn-warning[disabled].focus, fieldset[disabled] .btn-warning.focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
    background-color: #ff7518; border-color: #ff7518;
}
.btn-default:hover{background-color: #452311!important; color:white!important;}
.btn-warning .badge { color: white; background-color: #452311; }
.btn-sm, .btn-group-sm > .btn { padding: 5px 10px; font-size: 13px; line-height: 1.5; border-radius: 0; }

.iconanchor{padding: 2px 5px;margin:0px 0px; background: #DCDCDC -moz-linear-gradient(center top , #FEFEFE, #DCDCDC) repeat scroll 0% 0%; color: #333; border: 1px solid #BBB; border-radius: 4px; text-decoration: none!important; text-shadow: 0px 1px 0px #FFF; min-width: 0px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px 1px 1px rgba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);}
.icontable td{line-height:19.5px;padding:5px 9px;}


/* REPORTS EMR CHANGES */
#report_parameters{margin-top:0px;}

/* TREATMENT GROUP - EMR/ADMIN */
#trgrouptable {width:98%!important;margin:auto;}
#trgrouptable thead th{padding-left:14px;}
#trgrouptable td{line-height:19.5px;padding:5px 9px;}

/* TREATMENT GROUP ADD NEW - EMR/ADMIN */
#treatmentgroupnewform {background:white;margin-bottom:0px;padding:10px;height:74%;}
#treatmentgroupnewform .emrdate{margin-bottom:10px;}

/* TREATMENT SERVICE GROUPs  ADD NEW - EMR/ADMIN */
.filterwrp{margin-bottom: 10px}
/* COLLATERAL MAP TABLE */
#collateralmaptable {font-size:15px!important; margin-bottom: 15px;}
.subsave{margin:8px;}
/*#addcollateralbody div.subsave{position:relative;top:-14px;}*/

/* Map Collatral Pop up page */
#mapcollateralbody select {width:120px;margin-bottom:8px;}
.emrwrapper{background:white;width:100%;float:left;height:84%;}

/* Auditing Viewer UI Changes */
#auditingviewerbody #theform{background:white;width:100%;float:left;}

/* EMR Treatment Group List */
#trgroupaddbody a.iframe:active,
#trgroupaddbody a.iframe:focus{background:#452311!important;color:white;}

/* EMR Edit Treatment Group */
#edittreatmentgroupform {background:white;padding:10px;margin-bottom:0px;height:74%;}
#edittreatmentgroupform input.emrdate{margin-bottom:10px;width:128px!important;}

/* EMR TREATMENT GROUP POPUP SETTIGNS */

#trgroupaddbody #fancy_inner,#trgroupaddbody #fancy_bg{height:285px;}
#trgroupaddbody #fancy_content {height:275px;}
#trgroupaddbody #fancy_frame {height:265px;}

/* EMR MAP TREATMENT LIST POP UP */

#maptreatmentbody div.emrwrapper{height:256px!important;}
#maptreatmentbody #fancy_frame{height:317px!important;}
#maptreatmentbody #fancy_content{height:327px!important;}
#maptreatmentbody #fancy_inner{height:337px!important;}

/* EMR MERGE PATIENTS PAGE */
#street {width:304px;}
#medicalproblemstable tbody{display:block;}

/* EMR ADMIN LIST PAGE */
#adminlisttable td {border: 1px solid #452311;border-collapse: collapse!important;padding:4px!important;}
#adminglobalform input.btn-warning {margin-top:12px;}
#adminlisttable thead th{text-align:center;}

/* EMR ADMIN> AUDITING PAGE */
#auditingviewerbody #start_date {width:70%;}
#auditingviewerbody #end_date {width:70%;}

/* EMR Archive Global */
#editglobaltopnav {margin-left:11px;}
#editglobaltopnav li a {padding:10px 15px!important;}
#editglobaltopnav li{padding:0px;}
#archiveglobalstable {width:100%;}
#archiveglobalstable tr td{padding:8px;}
#archiveglobalstable td:first-child {width:40%;}
#archiveglobalbody input.btn-warning {margin-left:11px;margin-top:10px;}

/* EMR Admin >> List */
#adminlisttable .optin {background:white;transparency:80%;text-align:center;border:1px solid #CCC;}
#adminlisttable {width:60%;margin:0px auto;}

/* Admin >> Edit Collatral */
#editcollateraltable td{padding-left:8px;}

/* Save buttons positionings */
#adminlistbody input#form_save{display:block;margin:0px auto;margin-top:10px;}

#logview thead th{margin-bottom:0px;border:1px solid black;}

/* Bottom Message Alignment */
#report_parameters+div.text{margin-left:22px;font-size:13px;}

/* Submit button placements */
#documentsstockbody .btn-warning{margin-top:15px;}

.newdeactivate {background: transparent url("../../images/crossicon2.png") no-repeat scroll 0% 0%;
display: inline-block; height: 14px; width: 14px; position: relative; top: 3px;}
.newactivate {background: transparent url("../../images/tickicon2.png") no-repeat scroll 0% 0%;
display: inline-block; height: 14px; width: 14px; position: relative; top: 3px;}

/*************************** ADMIN INVENTORY **********************************/

#reportstockbalancebody form div.row div.col-xs-4:nth-child(1) div.form-group input[type="checkbox"] {display:inline-block;margin-left:10px;position:relative;top:4px;}
#reportstockbalancebody form div.row div.col-xs-4:nth-child(3) .btn-warning{margin-top:20px;}

/* Inventory Reports message alignment */
#reportsconsumptionbody .emrmsg{position: relative; top: -4px; margin-left: 6px!important;}
#reportsstockledgerbody .emrmsg{position: relative; top: -4px; margin-left: 6px!important;}
#reportsbatchexpirybody .emrmsg{position: relative; top: -8px; margin-left: 6px!important;}
#reportsadjustmentbody  .emrmsg{position: relative; top: -6px; margin-left: 6px!important;}
#reportstockbalancebody .emrmsg{position: relative; top: -8px; margin-left: 6px!important;}

/* Event Management Page UI */
#report_parameters label{width:100%;text-align:left;}
/*#report_parameters .btn-warning {margin-top:15px;} */

/* Treatment Service Group Top table */
#tsgtoptable input[readonly]  {background:#ddd;}
#tsgtoptable select[disabled] {background:#ddd;border:1px solid rgba(227, 92, 0, 0.5);}

/* Admin>Event Managment Changes */
#eventmanagementbody .btn-warning {margin-top:25px;}

/* Add edit stock popup calender */
#addeditstockbody div.DynarchCalendar {position:relative;left:-25px;top:-150px;}

/* Reports > Invoice Payment table */
#invoicepaymenttable thead tr th:nth-child(10){min-width:55px;}
#invoicepaymenttable thead tr th:nth-child(13){min-width:55px;}

/*=======================================END: Custom CSS====================================================*/

/* Eventmangment EMR CHANGES */
.panel-warning {
    border-color: #ff4309;
}
.panel {
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 0 !important;
}

.panel-warning > .panel-heading {
    background-image: none !important;
}

.btn-default {
    background-color: #452311;
    border-color: #452311;
    color: #ffffff !important;
}

.report-form label{
    display: inline-block;
    font-weight: normal;
    margin-right: 10px;
    text-align: right;
    width: 30%;
}

.report-form input[type=text],
.report-form select{
    display: inline-block !important;
    max-width: 435px;
    width: 67% !important;
}

.button-container{
    border-left: 1px solid #000;
    height: 137px;
    display: table;
}

.button-container .form-group{
    display: table-cell;
    vertical-align: middle;
}

.report-form input[type=text]#form_from_date,
.report-form input[type=text]#form_to_date{
    width: 60% !important
}

.add-event td:first-child{
    width: 150px;
    font-size: 13px;
}

.add-event td:first-child b{
    font-weight: normal;
}

.add-event td{
    padding: 8px;
}

.add-event input[type=text]#form_date{
    width: 20%;
    display: inline-block;
}

.add-event input#form_save,
.add-event input#cancel {
    background: #62af56 -moz-linear-gradient(center top , #ff7518, #ff7518) repeat scroll 0 0;
    border-color: #ff7518;
    color: #fff;
    padding: 8px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.add-event input#form_save,
.add-event input#cancel{
    display: inline;
    font-size: 110%;
    width: auto;
}
.form-control{
    height:31px !important;
    padding:5px 10px !important;
}

.ui-autocomplete.ui-front{
    background-color: #fff;
    border: 1px solid #999;
    border-top: 0px;
    /*width: 349px!important;*/
    float: left;
    list-style-type: none;
    font: 14px/30px "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    padding: 0;
    margin: 0;
}

.ui-menu-item{
    padding: 0 10px;
    cursor: pointer;
}

.ui-state-focus{
    background: #f1f1f1;
}

.ui-autocomplete-loading{
    background: white url("../../images/ui-anim_basic_16x16.gif") right center no-repeat;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}

#report_parameters table td table td input[type="radio"] {
    margin: 0 12px;
}

#report_parameters table td table td div:nth-child(2) input[type="radio"] {
    margin: 0 10px 0 0;
}

#report_parameters table td {
    vertical-align: middle;
}

#report_parameters table.feedback-add tr td {
    vertical-align: top;
}

/*#report_parameters table.feedback-add tr:nth-child(4) > td {
    padding: 15px 0 0;
}*/

#report_parameters table.feedback-add tr:nth-child(5) > td {
    /* padding: 0; */
}

#report_parameters table.feedback-add tr:nth-child(4) {
    height: 40px;
}

#report_parameters table.feedback-add tr td.label {
    font: 1em "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
}

#feedback_details td {
    padding: 2px 15px;
}

#feedback_details td span {
    font: 1em "Source Sans Pro",Calibri;
}

#feedback_details .text {
    font: 1em "Source Sans Pro",Calibri;
}
#feedback_details td:nth-child(even){
    font-weight:normal;
}
#feedback_details td:nth-child(odd){
    font-weight:bold;
}

#feedback_details select{
    width: 100%;
}

#feedback_details .btn-warning{
    margin:0 -70px 0 0;
}

.actions a {
    background: #dcdcdc -moz-linear-gradient(center top , #fefefe, #dcdcdc) repeat scroll 0 0;
    background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
    border: 1px solid #bbb;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #333;
    min-width: 0;
    padding: 2px 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    }

.feedback_details #feedback_details.emrtable{
    width: 100%;
    margin: 15px 0;
}

.feedback_details #feedback_details.emrtable th {
    padding: 5px 0 5px 5px;
    text-align: left;
}

.feedback_details .fbackhead.emrh3, .fbackhead.emrh3{
    height: auto;
    padding: 5px 15px !important;
}

.feedback_details .followtxt{
    padding: 5px 15px;
    text-align: left;
}

.feedback_details #feedback_details.emrtable td {
    border-bottom: 1px solid !important;
    border-left: 1px solid !important;
    border-top: 0 !important;
    border-right: 0 !important;
    font-weight: normal !important;
    padding: 7px 6px;
}


.feedback_details #feedback_details.emrtable td:last-child {
    border-right: 1px solid !important;
}

/*.feedback_details #feedback_details.emrtable tr:nth-child(2) {
    border-top: 15px solid #f3dbb3 !important;
}

.feedback_details #feedback_details.emrtable tr:nth-child(4) {
    border-bottom: 15px solid #f3dbb3 !important;
}*/



/* EMRpaging */
/** Paging **/
.paging {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    clear: both;
    color: #734229;
    float: left;
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    font-size: 14px !important;
    padding: 0.4em 0.6em;
    margin: 0 0 15px 0;
}
.paging .current,
.paging .disabled,
.paging a {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: inline-block;
    margin: 0 2px;
    padding: 2px 10px;
    text-decoration: none;
}
.paging > span {
/*  display: inline-block;
    border: 1px solid #ccc;
    border-left: 0;*/
    display:inline-block;
    margin-bottom:3px;
}
.paging a:hover {
    color: #ff7518 !important;
    text-decoration: none;
}
.paging > span:hover {
    /*background: #efefef;*/
}
.paging .prev {
    color: #ccc;
    margin: 0 4px 0 0;
}
.paging .prev > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin: 0;
    padding: 0;
}
.pagingInfo {
    border-right: 1px solid #ccc !important;
    margin-right: 6px;
    padding-right: 8px !important;
}
.paging .next {
    border-radius: 0;
    margin: 0 0 0 5px;
    padding: 0;
}
.paging .next > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #734229;
    padding: 0;
}
.paging .disabled {
    color: #ddd;
    padding: 0;
}
.paging .disabled:hover {
    background: transparent;
}
.paging .current {
    background: #ff7518 none repeat scroll 0 0;
    color: #fff;
}
.paging span a {
    background: #ccc none repeat scroll 0 0;
    color: #734229;
    font-weight: normal;
    text-decoration: none !important;
}
.emrtable.nobrdr{
    border: 1px solid #452311 !important;
}
.emrtable.nobrdr td{
    border: 0 none !important;
}

/*td.paging:empty{border:0px!important;}
td.paging:-moz-only-whitespace{border:0px!important;}*/

.nomrgn{margin: 0;}



#report_results .table,
#divToPrint .table{
    max-width: 200% !important;
    width: 100% !important;
}

/******************************************* Dev 2.1 ****************************/

/*#report_results .table, #divToPrint .table { max-width:100%!important;}*/

#invoicepaymenttable {margin-bottom:0px;min-width:150%!important;}
#invoicepaymenttable tr td:nth-child(6){width:85px!important;}

#treatmentreporttable {width:150%!important;}
#treatmentreporttable tr td:nth-child(3){width:85px!important;}
#treatmentreporttable tr td:nth-child(4){width:60px!important;}
#treatmentreporttable tr td:nth-child(5){width:120px!important;}
#treatmentreporttable tr td:nth-child(6){width:85px!important;}
#treatmentreporttable tr td:nth-child(7){width:135px!important;}

#workdonereporttable tr td:nth-child(6){width:95px!important;}

#emrmainpagerp div.col-md-6.mb-2 {margin-bottom:20px;}

.glyphicon.glyphicon-remove-circle {padding:4px;}

#fancy_outer{position:fixed!important;}
#reportappointmentdiv #reportappointmentallbtn a.btn-warning{margin-top:0px;}

/* Auditing -> Patient Pop Up */
.auditorPatientPopup form {padding-top:15px;text-align:center;background:#fff;}
.auditorPatientPopup table {width:100%;border-collapse: collapse;}
.auditorPatientPopup #searchstatus span{position:relative;top:-8px;}
.auditorPatientPopup div.tooManyResults {position:relative;top:-8px;}

/* form {
    padding: 0px;
    margin: 0px;
}
#searchCriteria {
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    background-color: #ddddff;
    font-weight: bold;
    padding: 3px;
}
#searchResultsHeader {
    width: 100%;
    background-color: lightgrey;
}
#searchResultsHeader table {
    width: 96%;
    border-collapse: collapse;
}
#searchResultsHeader th {
    font-size: 0.7em;
}
#searchResults {
    width: 100%;
    height: 80%;
    overflow: auto;
}

search results column widths
.srName { width: 30%; }
.srPhone { width: 21%; }
.srSS { width: 17%; }
.srDOB { width: 17%; }
.srID { width: 15%; }

#searchResults table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}
#searchResults tr {
    cursor: hand;
    cursor: pointer;
}
#searchResults td {
    font-size: 0.7em;
    border-bottom: 1px solid #eee;
}
.oneResult { }
.billing { color: red; font-weight: bold; }

#searchstatus {
    font-size: 0.8em;
    font-weight: bold;
    padding: 1px 1px 10px 1px;
    font-style: italic;
    color: black;
    text-align: center;
}
.noResults { background-color: #ccc; }
.tooManyResults { background-color: #fc0; }
.howManyResults { background-color: #9f6; }
#searchspinner {
    display: inline;
    visibility: hidden;
}

.highlight {
    background-color: #336699;
    color: white;
} */

.mbt0{
    margin-bottom: 0;
}

.dailyUtilReport td > img{position:absolute;top:72px;}



.strikeThrough td, td.strikeThrough{
  text-decoration: line-through;
}


.strikeThrough td:last-child{
  text-decoration: none;
}

/***************** Import Stock ***************/

.importStock .panel-body > div {margin:0px;}
.importStock #stockcsv{margin-bottom:0px;}
.importStock #stockInsert{margin-bottom:0px;}
.importStock .row .form-group {margin-bottom:5px;}
.importStock .panel-body #stockcsv a{margin:10px 0px;}
.importStock .newError{color:red;margin-bottom:0px;}
.importStock .serverMessage{color:red;}

/**************** General ********************/
#report_results {padding-left:2px!important;}

/**************** feedbackAdd *****************/
.feedbackAddPage input[type="text"]{width:100%;}
.posRel{position:relative;}
.posRel img{position:absolute;top:8px;right:11px;}
.feedbackAddPage textarea{width:100%;height:50px;}
.feedbackAddPage tbody{padding:0px;}
.feedbackAddPage .feedback-add  tr:nth-child(5) > td {padding-top:0px!important;}
.feedbackAddPage .feedback-add  tr:nth-child(6) > td {padding-top:25px!important;}
.feedbackAddPage .feedback-add  tr:nth-child(8) > td {padding-top:0px!important;}
.feedbackAddPage .feedback-add  tr:nth-child(9) > td {padding-top:25px!important;}
/* .feedbackAddPage .feedback-add  tr:nth-child(5) td:nth-child(1) div:nth-last-of-type(1) span:nth-last-of-type(1){left:-50px!important;color:red;} */
/* .feedbackAddPage .feedback-add  tr:nth-child(5) td:nth-child(2) div:nth-last-of-type(1) span:nth-last-of-type(1){left:-35px!important;color:red;} */
.feedbackAddPage .feedback-add  tr:nth-child(5) td:nth-child(1) div:nth-of-type(1) span:nth-last-of-type(1){color:green;}
.feedbackAddPage .feedback-add  tr:nth-child(5) td:nth-child(2) div:nth-of-type(1) span:nth-last-of-type(1){color:green;}
.feedbackAddPage .feedback-add  tr:nth-child(6) td:nth-child(1) div:nth-of-type(1) span:nth-last-of-type(1){color:green;}
/* .feedbackAddPage .feedback-add  tr:nth-child(6) td:nth-child(1) div:nth-last-of-type(1) span:nth-last-of-type(1){left:16px!important;color:red;} */
.feedbackAddPage .feedback-add  tr:nth-last-child(1) div{float:left;margin-left:0px!important;}
.feedbackAddPage .feedback-add  tr:nth-last-child(2) td:nth-child(2){width:10%;}
.feedbackAddPage .feedback-add  tr:nth-child(4) td{padding-top:0px!important;}
.feedbackAddPage .feedback-add  tr:nth-child(1) td:nth-child(1){width:18%;}

.feedbackCheckboxWrap > span{color: green!important}
.feedbackCheckboxWrap:nth-child(11) > span{color: red!important; left: -60px!important; text-align:right;}

/******************** Feedback Add *******************************/

.newRequired{color:red;}
.validationSpan{position:absolute;color:red;}
.feedbackAddPage .feedback-add > tbody > tr:nth-child(1) td{padding-bottom:20px!important;}
.feedbackAddPage .feedback-add > tbody > tr:nth-child(2) td{padding-bottom:20px!important;}
.feedbackAddPage .feedback-add > tbody > tr:nth-child(3) td{padding-bottom:20px!important;}
.feedbackAddPage .feedback-add > tbody > tr:nth-child(4) td{padding-bottom:20px!important;}

.feedbackAddPage .feedback-add > tbody > tr > td:nth-child(2){position:relative;}
.feedbackAddPage .feedback-add > tbody > tr > td:nth-child(4){position:relative;}

.feedbackAddPage .feedback-add .validationSpan{left:10px;top:33px;}
.feedbackAddPage .feedback-add .validationSpan{display:none;}

/******************************************************************/

.serverResponseSpan{color: #fff;width: 98%;display: inline-block;background: #3B8230;font-size: 20px;padding: 10px 10px;
font-size:140%;font-weight:bold;margin-bottom:0px;}
.feedbackReportPage .serverResponseSpan{width:100%;margin-top:0px;}
.serverErrorMsg{
background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
color: #fff;
background: #c43c35;
border: 1px solid rgba(0, 0, 0, 0.5);
background-repeat: repeat-x;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
margin-bottom: 18px;
padding: 7px 14px;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
font-size: 140%;
font-weight: bold;
margin: 0 0 1em 0;
margin-bottom:0px;
}

/*********** Feedback Reports Page ****************/
.feedbackReportPage table.text tr:nth-last-child(1) td:nth-last-child(1) a{position:absolute;}
.feedbackReportPage table.text tr:nth-last-child(1) td:nth-last-child(1) a:nth-child(1){left:85px;top:10px;}
.feedbackReportPage table.text tr:nth-last-child(1) td:nth-last-child(1) a:nth-child(2){left:165px;top:10px;}
.feedbackReportPage table.text tr:nth-last-child(1) td:nth-child(4) input{width:100%;}
.feedbackReportPage  #report_results{width:100%;overflow:auto;margin-bottom:20px;}
.feedbackReportPage  #report_results table{width:130%;}

#report_results table{border-collapse:collapse;}


.frm-image img, .fluid-img{
    width: 100%;
}