/* ***************************** Inventory Page ****************************** */ 

@import url(https://fonts.googleapis.com/css?family=Raleway);
.inventorypage{font-family: 'Raleway', sans-serif; height: 100%;}
.inventorypage .section1 .section1a {min-height:10px;background:#43a8ee;}
.inventorypage .section1 .section1b {background:#031142;padding:10px 45px;}
.inventorypage .section1 .section1b img {width:175px;}
.ui-page{position: relative;}

.inventorypage .section4 span{color:#43a8ee; font-weight: bold;}
.inventorypage .section4 {margin: auto; text-align: center; position: absolute; top: 0; width: 100%; height: 220px;} 
.inventorypage .section4 .liner {
    border-bottom: 1px solid;
    color: #666;
    margin: auto;
    min-height: 1px;
    position: relative;
    top: 43px;
    width: 76%;
}
.inventorypage .section4 h1 {
    background: white none repeat scroll 0 0;
    display: inline-block;
    font-size: 36px;
    font-weight: normal;
    padding: 2px 20px;
    position: relative;
    z-index: 1;
}
.inventorypage .section4 .mainbox {
    display: inline-block;
    margin: auto;
    position: relative;
    text-align: center;
    width: 810px;
}
.section1{
	text-align: left;
  height: 70px;
}
.inventorypage .section4 .boxes {width:auto;padding:20px 40px; float: none; display: inline-block; }
.inventorypage .section4 .boxes .greenbox {min-height:100px;background:;}
.inventorypage .section4 .greenbox a{width:100px;height:100px;background:;display:inline-block; font-size: 14px; position: relative;}
.inventorypage .section4 .greenbox span.dummyIcon {height:85px;width:100px;display:inline-block;}
.inventorypage .section4 .dummyIcon{width:75px!important;height:75px!important;border-radius:50%;border:1px solid #00adef;}
.inventorypage .section4 .yellowbox .dummyIcon{width:55px!important;height:55px!important;border-radius:50%;border:1px solid #43a8ee;margin-bottom:3px;}

.inventorypage .section4 #managerOptionsBar, 
.inventorypage .section4 #reportsOptionsBar{position:absolute;top:128px; width:830px; height:110px; background:;left:-15px;display:none;padding:25px 0px; border-top:1px solid #d1d1d1;}
.inventorypage .section4 .yellowbox span{display:inline-block;}
.inventorypage .section4 .yellowbox a span:nth-last-child(1) {
    clear: both;
    display: block;
    font-size: 12px;
    font-weight: normal;
}
.inventorypage .section4 .col-xs-3:nth-last-child(1) span:nth-child(2){display:inline-block;margin-left:-25px;width:136px;}
.inventorypage .section4 .yellowbox span:hover {color:#f6841f;}
.inventorypage .section4 .yellowbox span:nth-child(1):hover + span{color:#f6841f;}

.inventorypage .section4 .greenbox > a > span{margin-bottom:5px; display: block;}
.inventorypage .section4 .greenbox > a:hover span:nth-last-child(1) {color:#f6841f;}

.inventorypage .section4 .yellowbox {padding: 0 10px;display:inline-flex; min-width: 100px;float:none;}
.yellowbox a{margin: auto; text-align: center;}


.inventorypage .section5 {border-bottom:6px solid #f6851f; position:fixed; bottom:0px; width:100%;}
.inventorypage .section5 p {text-align:center;color:#636363;font:normal 11px Arial;} 
.inventorypage a:focus{outline:none;}

/* topbar */ 
.topBar, .triangle{display: none;}


#managerBlock a.selected > .topBar,
#reportsBlock a.selected > .topBar{width:100px; border-top:2px solid #43a8ee; display:inline-block; position:absolute; bottom:-16px; left:0;}

#reportsBlock a.selected > .triangle,
#managerBlock a.selected > .triangle{width: 0px;display: inline-block;border-top: 14px solid #43a8ee;height:0px; border-right: 13px solid transparent; border-left:13px solid transparent; position:absolute; bottom: -30px; left:37px;}

.selected span:nth-last-child(1){color:#f6841f;}
a:hover,a:focus, a:active{text-decoration:none;}

/* **************************** From WEBAPP Css Fiels ******************************** */ 

.userDashboard div.row-fluid>div.col-xs-12.plr-0.borBttm {height:80px;}
.userDashboard ul li {display:inline-block;text-align:center;padding:55px;}
.userDashboard .ulWrapper {clear:both;margin-left:30px;width:94%;position:relative;}
.userDashboard .ulWrapper span.icon-container {height:85px;width:85px;}
.userDashboard ul li a {display:inline-block;}
.userDashboard ul li b {width:100px;margin:0px;margin-left:-5px;}
.userDashboard .ulWrapper {margin-top:10px;}

span.icon-container:hover{background-color: #ff7f27;}

/***** inventory module BIGGER Icons  ******/
.dummyIcon.manager,
.dummyIcon.marketplace,
.dummyIcon.reports,
.dummyIcon.prmLink
{background-image:url("../../img/inventoryicon_blueSmall2b.png") !important;}

.manager{background-position:-445px 1px !important;}
.reports{background-position:-607px -1px !important;}
.marketplace{background-position:-530px 1px !important;}
.prmLink{background-position: -170px -136px !important;}

/*.hovered-1 .manager,*/.manager:hover,.selected .manager{background:#43a8ee;background-position:-445px -66px !important;}
/*.hovered-1 .reports,*/.reports:hover,.selected .reports{background:#43a8ee;background-position:-607px -67px !important;}
/*.hovered-1 .marketplace,*/.marketplace:hover, .selected .marketplace{background:#43a8ee;background-position:-531px -65px !important;}
.prmLink:hover, .selected .prmLink{background:#43a8ee;background-position:-170px -204px !important;}

/******* Invoentory Smaller Icons *******/ 

.dummyIcon.adjustment,
.dummyIcon.issue_return,
.dummyIcon.transout,
.dummyIcon.transin,
.dummyIcon.reqs,
.dummyIcon.shipment,
.dummyIcon.stock,
.dummyIcon.consumption,
.dummyIcon.manager2,
.dummyIcon.stockLedger,
.stockBalance
{background-image:url("../../img/inventoryicon_blueSmall7.png") !important;}

.stock{background-position:-136px -3px !important;}
.shipment{background-position:-280px -3px !important;}
.reqs{background-position: -8px -109px !important;}
.transin{background-position:-70px -3px !important;}
.transout{background-position: -12px -2px !important;}
.issue_return{background-position: -212px -3px !important;}
.adjustment{background-position:-68px -108px !important;}
.consumption{background-position:-139px -110px !important;}
.manager2{background-position:-283px -108px !important;}
.stockBalance{background-position:-210px -110px !important;}

.hovered .stock,.stock:hover{background:#43a8ee;background-position:-136px -55px !important;}
.hovered .shipment,.shipment:hover{background:#43a8ee;background-position:-280px -56px !important;}
.hovered .reqs, .reqs:hover{background:#43a8ee;background-position: -6px -161px !important;}
.hovered .transin,.transin:hover{background:#43a8ee;background-position:-69px -55px !important;}
.hovered .transout,.transout:hover{background:#43a8ee;background-position: -11px -54px !important;}
.hovered .issue_return,.issue_return:hover{background:#43a8ee;background-position: -212px -54px !important;}
.hovered .adjustment,.adjustment:hover{background:#43a8ee;background-position:-68px -162px !important;}
.hovered .consumption,.consumption:hover{background:#43a8ee;background-position:-140px -162px !important;}
.hovered .manager2,.manager2:hover{background:#43a8ee;background-position:-283px -162px !important;}
.hovered .stockBalance,.stockBalance:hover{background:#43a8ee;background-position:-210px -162px !important;}


.yellowbox.hovered a span:nth-last-child(1){color:#f6841f!important;}

/* Reports Main Page Links */ 
.stockLedger{background-position:-136px -3px !important;}
.hovered .stockLedger,.stockLedger:hover{background:#43a8ee;background-position:-136px -55px !important;}



/*.manager:hover, .isactive > span > .manager{background-position: -575px -116px !important;}*/

/*.reports{background-position:-805px 0px !important;}
.reports:hover, .isactive > span > .reports{background-position: -805px -116px !important;}

.marketplace{background-position:-692px 0px !important;}
.marketplace:hover{background-position: -692px -116px !important;}

.stock{background-position:-230px 0 !important;}
.stock:hover{background-position: -230px -116px !important;}

.shipment{background-position:-460px 0 !important;}
.shipment:hover{background-position: -460px -116px !important;}

.reqs{background-position:0 -230px !important;}
.reqs:hover{background-position: 0 -345px !important;}

.transin{background-position:-116px 0px !important;}
.transin:hover{background-position: -116px -116px !important;}

.transout{background-position: 0 0 !important;}
.transout:hover{background-position: 0 -116px !important;}

.issue_return{background-position:-347px 0px !important;}
.issue_return:hover{background-position: -347px -116px !important;}

.adjustment{background-position:-115px -232px !important;}
.adjustment:hover{background-position: -115px -349px !important;}*/

/*.manager:hover,
.reports:hover,
.marketplace:hover,
.stock:hover,
.shipment:hover,
.reqs:hover,
.transin:hover,
.transout:hover,
.issue_return:hover,
.adjustment:hover,
.isactive > span{background-color:#ff7f27 !important;}*/

/* opened left small menu */
.userDashoardLeftMenu .filler{height:141px;background:#f7d4be;}
.userDashoardLeftMenu li:nth-last-child(1) a{border-bottom:0px;}
.userDashoardLeftMenu li:nth-child(2) a{border-top:1px solid #FF7518;}

.dummyIcon{
	border-radius: 8px;
}

.mplc-load {
  display: flex;
  height: 100%;
  width: 100%;
}

.mplc-load img{
  margin: auto;
}

.mplc-load.dnone, .dnone{
  display: none;
}

#marketplace_frame{
  height: 100%;
  width: 100%;
}

.dummyIcon {
    border-radius: 8px;
}
.dummyIcon {
  display: table-cell;
  font-size: 2em;
  padding: 0 0 0.13em 0.16em;
  vertical-align: middle;
}

.ui-loader{
	display: none !important;
}

#logoContainer img{
	width: auto !important;
	height: auto !important;
}

.newHide{display:none!important;}

.appSaveLoader, #customLoading, #fancybox-loading > div {
  background-color: #fff;
  border-radius: 0.3em;
  left: 50%;
  margin-left: -58px;
  padding: 0.5em;
  position: absolute;
  top: 22%;
  z-index: 9999;
}
.ui-widget-overlay, #customLoading {
  display: none;
}

.ui-widget-overlay {
  background: #000 none repeat scroll 0 0 !important;
  height: 100%;
  left: 0;
  opacity: 0.5 !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.ui-widget-overlay, #customLoading {
  display: none;
}



/* required styles to handle the transitions */
.floatingheader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.floatHeader {
  border-bottom: 4px solid #f6841f;
  background-color: #452311;
  padding: 13px 10px;
  position: relative;
  display: block;
  height: 70px;
  z-index: 2;
  margin: 0;
}

.img-placeholder{
  display: inline-block;
}

.logOut_Box{
  color: #fff;
  float: right;
  font-size: 1em;
  width: auto;
  margin: 3px 0 0;
}

.user {
  margin: 9px 5px 0 0;
}

.transition {
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  -o-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  overflow-y: hidden;            
}

#collapse-bar{
  float: left;
  margin: -24px 0 0 10px;
  cursor: pointer;
  background: url("../../img/col-icn.png") no-repeat top left;
  width: 34px;
  height: 24px;
  visibility: hidden;
  position: relative;
  z-index: 1;
}

#collapse-bar.collapse-bar{
  visibility: visible;
  transition: margin-top 0.5s ease-in-out;
}

.btn-warning {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ed6a12 0px, #97450b 100%) repeat scroll 0 0 !important;
  border: 1px solid #e95604 !important;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding: 7px 8px 7px 6px;
  text-shadow: none;
}

.btn-warning:focus, .btn-warning:hover, .btn-warning:active,
.btn-warning.active:focus, .btn-warning.active:hover, .btn-warning.active:active{
  outline: 0 none;  
}

.btn-warning:hover {
  background-image: linear-gradient(#fc7724, #983c00 60%, #983c00) !important;
  border: 1px solid #ffaa74 !important;
}

.logoutbtn span {
  background: rgba(0, 0, 0, 0) url("../../../../web/images/ico-sidepanel.png") no-repeat scroll -220px -7px;
  display: inline-block;
  height: 18px;
  width: 20px;
}

.dbicon{
  display: none;
}

.dbicon span{
  font-size: 15px;
  height: 18px;
  margin-right: -1px;
  width: 20px;
}
/* required styles to handle the transitions */