<?php
$res = sqlQuery("select * from users where username='".$_SESSION{"authUser"}."'");
?>
<div class="floatHeader">
	<div id="logoContainer" class="img-placeholder">
		<a href="<?php echo $inventry_url; ?>web/home.shtml" data-ajax="false"><img alt="logo" src="<?php echo $inventry_url; ?>webapp/img/clove-logo.jpg" />
		</a>
	</div>
	<div class="logOut_Box">
		<div class="pull-right">
			<a class="btn btn-warning pull-right logoutBtn" href="#">
				<span></span>
			</a>

			<a class="btn btn-warning pull-right dbicon" data-ajax='false' href="<?php echo $inventry_url; ?>emr/interface/inventory/inventoryPage.php">
				<span class="glyphicon glyphicon glyphicon-th"></span>
			</a>
		</div>

		<div id="username" class="pull-left user">
			<span class="" title="<?php echo htmlspecialchars( xl('Authorization group') .': '.$_SESSION['authGroup'], ENT_QUOTES); ?>"><?php echo htmlspecialchars($res{"nickname"},ENT_NOQUOTES); ?></span>
		</div>
	</div>
</div>