<div class="mrgnSpc mrgnSpc_oi floatRight">
    <div class='primary-button btn-right ui-link'>
        <a data-ajax='false' href="<?php echo $inventry_url; ?>emr/interface/inventory/inventoryPage.php" class="pull-right">
            <span class="icon-container">
                <span class="glyphicon glyphicon-th icon" ></span>
            </span>
            <b class="btn-text">Dashboard</b>
        </a>
    </div> 
    <?php
    require_once("./lib/inv.users.class.php");
    $type=$invfac->getFacilityType($_SESSION['cid']);
    $access=$invfac->validateFacilityId($_SESSION['cid']);
    if($type['type']=='1' && $access){
    ?>
    <div class='marketplaceBtn btn-right'>
        <div class='primary-button btn-right'>
            <a data-ajax='false' href="<?php echo $inventry_url; ?>emr/interface/inventory/marketplace.php" class="pull-right">
                <span class="icon-container">
                    <span class="icon dummyIcon marketplace" ></span>
                </span>
                <b class="btn-text">Marketplace</b>
            </a>
        </div>
    </div>
    <?php } ?>
    <div class='managerBtn dnone btn-right'>
        <div class='primary-button btn-right'>
            <a data-ajax='false' href="stocks.php" class="pull-right">
                <span class="icon-container">
                    <span class="icon dummyIcon manager" ></span>
                </span>
                <b class="btn-text">Manager</b>
            </a>
        </div>
    </div>

    <div class='reportsBtn btn-right'>
        <div class='primary-button btn-right'>
            <a data-ajax='false' href="stock_leadger_report.php" class="pull-right">
                <span class="icon-container">
                    <span class="icon dummyIcon reports" ></span>
                </span>
                <b class="btn-text">Reports</b>
            </a>
        </div>
        <!-- addStock -->
        <div class='addstock btn-right dnone'>
            <?php if(acl_check('inventory', 'invf_stock_add')){?>
            <div class="addEditData primary-button" data-pageUrl="add_edit_stock.php?stockid=0">
                <span class="icon-container">
                    <span class="glyphicon glyphicon-plus icon"></span>
                </span>
                <b class="btn-text"><?php xl('Add','e'); ?></b>
            </div>
            <?php }?>
        </div>
        <!-- addStock -->

        <!-- transferOut -->
        <div class='transout btn-right dnone'>
            <?php if (acl_check('inventory', 'invf_tran_out_add')) { ?>
            <div class="primary-button addEditData" data-pageUrl="add_edit_transfer.php">
                <span class="icon-container">
                    <span class="glyphicon glyphicon-plus icon"></span>
                </span>
                <b class="btn-text"><?php xl('Transfer Item', 'e'); ?></b>
            </div>
            <?php } ?>
        </div>
        <!-- transferOut -->

        <!-- Issue/Return -->
        <div class='issuereturn btn-right dnone'>
            <?php if(acl_check('inventory', 'invf_issue_item_to_user')){ ?>
                <div class="primary-button addEditData" data-pageUrl="add_edit_issue.php?stockid=0">
                    <span class="icon-container">
                        <span class="glyphicon glyphicon-plus icon"></span>
                    </span>
                    <b class="btn-text"><?php xl('Issue Item','e'); ?></b>
                </div>
            <?php }?>
        </div>
        <!-- Issue/Return -->

        <!-- Add adjustment -->
        <div class='adjustment btn-right dnone'>
            <?php if(acl_check('inventory', 'invf_adj_add')){?>
                <div class="primary-button addEditData" data-pageUrl="add_edit_adj.php">
                    <span class="icon-container">
                        <span class="glyphicon glyphicon-plus icon"></span>
                    </span>
                    <b class="btn-text"><?php xl('Add','e'); ?></b>
                </div>
            <?php }?>
        </div>
        <!-- adjustment -->

        <!-- consumption -->
        <div class='consumption btn-right dnone'>
            <?php if(acl_check('inventory', 'invf_cons_add')){ ?>
                <div class="addEditData primary-button btn-right ui-link" data-pageUrl="add_consumption.php">
                    <span class="icon-container">
                        <span class="glyphicon glyphicon-plus icon"></span>
                    </span>
                    <b class="btn-text"><?php xl('Add','e'); ?></b>
                </div>
            <?php }?>

            <?php if(acl_check('inventory', 'invf_cons_add')){ ?>
                <div class="uploadCSV primary-button btn-right ui-link" data-pageUrl="<?php echo $GLOBALS['cakePhpFullUrl'];?>InvoiceItemStocks/upload">
                    <span class="icon-container">
                        <span class="glyphicon glyphicon-plus icon"></span>
                    </span>
                    <b class="btn-text"><?php xl('Add Bulk','e'); ?></b>
                </div>
            <?php }?>
        </div>
        <!-- consumption -->
    </div>
</div>