<!-- START: Main menu -->
<div id="effect" class="ui-widget-content ui-corner-all">
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left">
        <ul class="nav navmenu-nav sidemenu invlftnav" id='master'>
            <li id="oeListBtn">
                <a data-ajax="false" href="stocks.php">
                    <span class="new-btnWrap btn">
                        <span class="stock lftico"></span>
                    </span>
                    <b class="btn-text mb-02">Stock</b>
                </a>
            </li>
            <li id="diagnostics">
                <a data-ajax="false" href="requisitionToClinic.php">
                    <span class="new-btnWrap btn">
                        <span class="shipment lftico"></span>
                    </span>
                    <b class="btn-text mb-02">Shipment</b>
                </a>
            </li>
            <li id="treatments">
                <a data-ajax="false" href="requisitionFromClinic.php">
                    <span class="new-btnWrap btn">
                        <span class="reqs lftico"></span>
                    </span>
                    <b class="btn-text mb-02">Requisitions</b>
                </a>
            </li>
            <li id="workDone">
                <a data-ajax="false" href="transferToClinic.php">
                    <span class="new-btnWrap btn">
                        <span class="transin lftico"></span>
                    </span>
                    <b class="btn-text mb-02">Trans. In</b>
                </a>
            </li>
            <li id="prescriptionList">
                <a data-ajax="false" href="transferFromClinic.php">
                    <span class="new-btnWrap btn">
                        <span class="transout lftico"></span>
                    </span>
                    <b class="btn-text mb-02">Trans . Out</b>
                </a>
            </li>
            <li id="filesList">
                <a data-ajax="false" href="issue_return.php">
                    <span class="new-btnWrap btn">
                        <span class="issue_return lftico"></span>
                    </span>
                    <b class="btn-text mb-02">Issue/Return</b>
                </a>
            </li>
            <li id="invoicesList">
                <a data-ajax="false" href="adjustmentList.php">
                    <span class="new-btnWrap btn">
                        <span class="adjustment lftico"></span>
                    </span>
                    <b class="btn-text mb-02">Adjustment</b>
                </a>
            </li>
            <li id="invoicesList" class="lastnav">
                <a data-ajax="false" href="consumption.php">
                    <span class="new-btnWrap btn">
                        <span class="adjustment lftico"></span>
                    </span>
                    <b class="btn-text mb-02">Consumption</b>
                </a>
            </li>
        </ul>
        <ul class="nav navmenu-nav sidemenu dnone" id='reports'>
            <li>
                <a data-ajax="false" href="stock_leadger_report.php">
                    <span class="new-btnWrap btn">
                        <span class="sledger lftico"></span>
                    </span>
                    <b class="btn-text mb-02">Stock<br />Leadger</b>
                </a>
            </li>
            <li>
                <a data-ajax="false" href="consumption_report.php">
                    <span class="new-btnWrap btn">
                        <span class="consumption lftico"></span>
                    </span>
                    <b class="btn-text mb-02">Consumption</b>
                </a>
            </li>
            <li>
                <a data-ajax="false" href="batch_expiry_report.php">
                    <span class="new-btnWrap btn">
                        <span class="batch_expiry lftico"></span>
                    </span>
                    <b class="btn-text mb-02">Batch/<br />Expiry</b>
                </a>
            </li>
            <li>
                <a data-ajax="false" href="adjustment_report.php">
                    <span class="new-btnWrap btn">
                        <span class="adjust_report lftico"></span>
                    </span>
                    <b class="btn-text mb-02">Adjustment</b>
                </a>
            </li>
            <li class='lastnav'>
                <a data-ajax="false" href="stock_balance_report.php">
                    <span class="new-btnWrap btn">
                        <span class="sbalance lftico"></span>
                    </span>
                    <b class="btn-text mb-02">Stock<br />Balance</b>
                </a>
            </li>
        </ul>
    </nav>
</div>
<span id="leftMenuToggle" class="ui-state-default ui-corner-all left-nav"></span>
<!-- END: Main menu -->